[2017-06-10 01:01] sean- opened #1 "Make provider errcheck clean"
https://travis-ci.org/terraform-providers/terraform-provider-postgresql

[code]

[2017-06-13 17:39] hashibot opened #2 "Fail when trying to use postgressql provider against aws rds instance in same definition"
_This issue was originally opened by @chaliy as hashicorp/terraform#7442. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I am trying to implement PostgreSQL database on AWS  RDS. I am crating PostgreSQL RDS Instance, and then database"

[code]

Unfortunately this doe

[2017-06-13 19:28] hashibot opened #3 "Unable to create another postgres role within AWS Redshift database."
_This issue was originally opened by @xvillanuOM as hashicorp/terraform#11639. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature r

[2017-06-13 19:30] hashibot opened #4 "provider/postgresql: Redshift returns error: unrecognized configuration parameter "application_name""
_This issue was originally opened by @apparentlymart as hashicorp/terraform#11875. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and featu

[2017-06-13 19:35] hashibot opened #5 "PostgreSQL: Unable to create a schema in a specific database"
_This issue was originally opened by @lra as hashicorp/terraform#12248. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,

In PG, a schema is the layer between a database and a table.

In Terraform you can create a schema by giving it a name, but there is no way to

[2017-06-28 12:21] pdecat opened #8 "Documentation should specify supported PostgreSQL versions (i.e. 9.5+)"
The current PostgreSQL terraform provider depends on features only available with PostgreSQL versions 9.5+ such as row-level security.

This should be specified in the provider's documentation as it is not compatible with 9.4.x and earlier versions of PostgreSQL.

https://www.postgresql.org/docs/9.5/static/ddl-rowsecurity.html
https://wiki.postgresql.org/wiki/Row-security
https://www.postgresql.or

[2017-07-03 09:04] dohoangkhiem opened #9 "postgresql_database: DEFAULT value does not work as documented for encoding"
According to https://www.terraform.io/docs/providers/postgresql/r/postgresql_database.html#encoding

However setting the encoding to DEFAULT value just causes an error

[code]

[code]

How do we use template1 with `postgresql_database` resource with default encoding from the template?

Terraform version is 0.9.8

[2017-07-09 04:29] sean- commented on #9
@dohoangkhiem , see if #10 fixes your issue.  Please note the comment about `lifecycle`.

[2017-07-09 06:02] sean- opened #11 "Switch to using jackc/pgx instead of lib/pq"
Once `v3` of jackc/pgx has been released (later this month, July 2017), switch from github.com/lib/pq to https://github.com/jackc/pgx .  This should be an imperceptible change to provider users.

[2017-07-10 07:49] sean- commented on #5
@lra This isn't actually a bug, but closer to a lack of "best practice" in the docs and some confusing behavior with regards to providers.  I imagine you're looking to do something similar to (note, the two providers):

[code]

Which doesn't have the desired effect because you have a cycle for initializing `my_role`:

[code]

What I would recommend is the following:

1. Create a "dba" directory th

[2017-07-10 07:49] #5 closed

[2017-07-10 07:50] sean- commented on #8
@pdecat, as soon as #12 lands you'll be in a good spot.  This has been a nagging issue for a while.

[2017-07-10 07:51] sean- commented on #4
@apparentlymart if you want to give #12 a read, I think you'll be g2g when that gets merged.

[2017-07-10 07:53] sean- commented on #3
This issue was actually fixed in hashicorp/terraform#14864 and is an issue dupe of hashicorp/terraform#11273.  Re-closing.

[2017-07-10 07:53] #3 closed

[2017-07-10 08:10] sean- commented on #2
@chaliy , this won't exactly help the above issue, but I'd be curious as to your thoughts after reading the following:

https://github.com/terraform-providers/terraform-provider-postgresql/issues/5#issuecomment-314031307

The problem is that the underlying database connection pooler (`sql.DB`) doesn't allow for post-connection initialization hooks in the same way that `github.com/jackc/pgx` does.

[2017-07-13 18:27] lra commented on #5
I think I understand, yeah, hopefully https://github.com/terraform-providers/terraform-provider-postgresql/issues/11 will fix it as it's kind of counterintuitive to have to play with folders/providers to get to a given state =)

Thanks for the explanation.

[2017-07-21 18:24] #4 closed

[2017-07-21 18:24] #8 closed

[2017-07-21 18:28] sean- opened #13 "Fix schema support for RedShift"
@apparentlymart

Related to #12 , can you run the following for me in `psql`?

[code]

[2017-07-21 18:29] sean- opened #14 "Fix database support for RedShift"
See https://github.com/terraform-providers/terraform-provider-postgresql/pull/12#issuecomment-317067820 for details on the error from `postgresql_database.foo`.

Reported by @apparentlymart

[2017-07-21 19:03] apparentlymart commented on #13
Unfortunately I already shut down the redshift cluster I was working in for the testing of #12. I'll try to get another one spun up later to look at this, when I have a good block of time to wait for it to boot up!

[2017-07-21 21:03] sean- commented on #13
@apparentlymart It's not a high priority for me.  I'd take input from any RedShift user, tbh, but it's not something I'm motivated to take huge amounts of initiative to tackle.  The fixes are pretty straight forward but require the above input.  Whenever is convenient.  Thanks!

[2017-07-24 12:20] hashibot opened #15 "Error when creating postgres 9.4 databases and users"
_This issue was originally opened by @kshcherban as hashicorp/terraform#15620. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Terraform fails to create databases and users for older Postgres versions.

Terraform 0.9.11, RDS Postgres 9.4.7.

Code:
[code]

[code]

[2017-08-02 17:14] tomelliff opened #16 "Updating a role password doesn't actually update the role password"
When updating a role password a plan shows a change:
[code]
but after applying the change it doesn't actually appear to have been changed.

Taking a quick look at the source code I don't see anything for updating the role password so I guess it just hasn't been implemented yet?

### Terraform Version
Terraform v0.9.11

### Terraform Configuration Files
[code]

### Expected Behavior
The role passwo

[2017-08-03 11:22] tomelliff commented on #2
Is this still true? I thought that might be the issue when I started trying to have Terraform create an RDS instance and then add resources but it seems to plan and apply out okay from scratch for me.

I can provide an example of this working if it helps at all.

[2017-08-03 13:17] tomelliff opened #17 "Managing destruction of Postgres DBs in RDS"
I managed to nicely get Terraform creating databases and roles in an RDS Postgres database but due to the stripped down permissions of the `rds_superuser` I can't see an easy way to destroy the created databases that are owned by another user.

Using the following config:
[code]
leads to this error:
[code]
Using local-exec provisioners I was able to grant the role that owned the database to the ad

[2017-08-03 17:05] sean- commented on #2
@tomelliff Is what still true?

[2017-08-03 17:11] tomelliff commented on #2
That it fails to plan when using the postgres provider in the same Terraform config as the RDS instance and using the `aws_db_instance.resource_name.address` as the `host` for the `postgresql` provider details. Because it seems to work fine for me.

[2017-08-03 18:53] sean- commented on #2
Oh, I think I understand what you're saying.  Namely that the PostgreSQL resource fails to plan because it has a dependency on the RDS instance being available, but if you attempt to mix and match the terraform to create the RDS instance with plan to create the schema, the provider fails to plan because it can't connect to the yet-to-be-created instance.

There are two possible outcomes here:

1)

[2017-08-03 18:56] tomelliff commented on #2
I was asking if the original poster still had issues because it works fine for me as is. Unfortunately the config they pasted is too minimal to reproduce it but as far as I can see this issue could be closed.

[2017-08-03 23:37] sean- commented on #2
@tomelliff if you can post sample configs, that'd be great!

[2017-08-07 07:45] eranreshef commented on #17
@tomelliff I've been trying to apply same solution that you suggested as a temp workaround and from some unknown reason the role is granted only to the regular user and not to the admin user:

`(local-exec): Executing: /bin/sh -c "PGPASSWORD=******* psql -h localhost -p 54236 -U postgres postgres -c 'grant eran2_group TO eran2, postgres ;'"
(local-exec): GRANT ROLE`

I than use pgAdmin to review d

[2017-08-07 07:54] tomelliff commented on #17
Yeah I noticed the same thing after posting it. I'm not sure what's wrong with using the local exec but the grant doesn't seem to get added at all when ran from it but running the same command locally does seem to work.

It doesn't seem to be a timing thing either because when I added another local exec provisioner running the same command I got a warning that the role already had that grant (can'

[2017-08-07 10:48] eranreshef commented on #17
I **assume** that the reason for the admin user not receiving the group membership is that this user is being used by terraform in an active connection so **perhaps** it can't be modified while the connection is active. makes sense?

[2017-08-07 15:26] tomelliff commented on #17
Doesn't look that way because the connected user is added to the owner's role when creating the database. My pull request simply copies that block (including the `defer`red undo of that grant) for the database destroy too.

[2017-08-07 19:12] scholzie commented on #15
I'm experiencing this as well, attempting to apply to postgres 9.3.14

[code]

[code]

Is there any known work around for this?

[2017-08-24 23:54] madmod commented on #15
I also have this issue.

[2017-09-18 16:05] vascop commented on #16
Related to this issue, all passwords are reported as changing after importing, even if they're the same as the existing ones. After applying, they get reported as changed although nothing changed. Makes for a fun moment when importing live production databases.

[2017-09-19 08:26] vascop opened #21 "Create role_membership resource"
Right now we have imported our roles into terraform but one key thing that is missing is being able to define GRANTS on roles. A way to manage permissions in postgresql is to inherit from base roles like db_superusers / db_readonly / db_readwrite and then GRANT them like:

[code]

So it'd be nice to have something like other providers have (thinking about AWS iam_group / iam_user / iam_group_membe

[2017-09-20 19:54] apparentlymart commented on #21
Hi @vascop! Thanks for this feature request.

This seems like a great idea! Unfortunately at this time the Terraform team at HashiCorp is not doing new feature development on this provider, due to our focus being elsewhere. However, if someone in the community has the time and motivation to work on it we'd love to review a pull request.

[2017-10-27 07:57] honzasterba commented on #17
I have spent some time on this and discovered why this does not work.

It seems the postgresql provider adds the system user into the newly created role so he seems like a superuser, but removes it after the setup is finishied. Unfortunatelly the same thing does not happen when destroying.

[2017-10-27 08:09] tomelliff commented on #17
@honzasterba I raised a pull request for that here: https://github.com/terraform-providers/terraform-provider-postgresql/pull/18

[2017-12-19 11:08] sean- commented on #17
Please try `master` and let us know if that has fixed your problem, @honzasterba / @tomelliff.

[2017-12-20 18:43] tomelliff commented on #17
Just tried this now after building master and looks like it works as expected, thanks for the merge.

[2017-12-20 18:43] #17 closed

[2018-01-10 23:29] sgendler-stem commented on #21
I've run into the same requirement.  Though, I don't so much want to have an attachment resource as I want to be able to specify the roles a new should be made a member of, the same way I can in a 'CREATE ROLE' statement in the psql client.

[code]

translates to

[code]

Granted, it would also be nice to be able to do an assignment after role creation, but my priority is being able to set the gro

[2018-01-11 01:04] sgendler-stem opened #24 "sslmode simply doesn't work"
I can connect from the commandline psql client with ?sslmode=verify-full in the connect URL and it most definitely checks the certificate.  If I remove it from my local box, psql will fail to connect. If I reinstall it, it succeeds.

[code]

When I specify ?sslmode=disable it definitely does not connect over SSL

[code]

However, no matter what value I put in sslmode in the provider declaration, i

[2018-01-11 02:14] sgendler-stem commented on #24
It is looking as though variable interpolation of the outputs of a module in the same template as the postgresql provider doesn't work.  When I enable debug logging, I can see that it is connecting to host '' with defaults in port, username, and password.  I'm in the process of pulling the provider out into another template, which imports the state of the previous one, to see if variable interpola

[2018-01-11 04:39] sgendler-stem commented on #24
Wow, all I can say is this provider (and terraform in-general) really needs better error handling.  It turns out that the postgresql resources all REQUIRE the provider attribute, which names a declared provider by alias, otherwise, they don't default to the single declared postgresql provider in the template, they default to an invisible postgresql provider which has default username, password, po

[2018-01-11 05:08] c-knowles commented on #21
Would like to contribute this but it will be some time as new to terraform and also this provider. After several days playing around with the terraform postgres support, we ended up ditching it in favour of an imperative script. Mostly due to missing support for this and a few other things like default privileges.

We also hit cases where this provider is not particular declarative, some changes s

[2018-01-11 15:56] gabro commented on #2
@tomelliff I'm facing the exact same issue as the OP, so if you could post your config it'd be great!

[2018-01-11 16:14] tomelliff commented on #2
I was wrong apparently, plans before the RDS instance are created fail but you can apply out anyway and that manages the dependency order fine.

[2018-01-11 16:16] gabro commented on #2
So you mean something like

[code]

?

[2018-01-11 16:37] tomelliff commented on #2
I've been considering requiring plans for every apply (and having CI pass the plan to the apply stage) but not overly sure if it's necessary because I'm not massively risk averse and have reasonable test environments before production. That said, if I did have this requirement then the inability to plan a database before applying it the first time would be a deal breaker. It's probably not an easy

[2018-01-11 16:43] gabro commented on #2
Ah, thanks for the pointers! I'll take a look

[2018-01-11 18:49] sgendler-stem commented on #21
Yeah, the provider is kind of useless as it is.  It doesn't do any existence checks on extensions or users, even though there is perfectly legal DDL syntax for doing exactly that.  When you remove a role from the config, it errors out when deleting the user.  Error messaging is a disaster.  There's no way to execute DDL in a transaction.

In reality, I'll use a schema migration tool for the vast m

[2018-01-11 18:56] sgendler-stem commented on #21
I'll admit, I'm surprised there isn't a liquibase or flyway provider which will simply run those tools from terraform.  Since the tools are intended to be idempotent, a simple provider that always calls the tool doesn't seem very tough.  I can do that with a provisioner, but it would be nice to be able to configure the tool with paths/repo addresses and db connection information so that it can all

[2018-01-17 20:50] 0xCMP opened #25 "Possible for new release?"
I was trying to use this provider to setup a postgresql-9.4 server and it failed to create the user because of the RL feature not being blocked.

I see that the changes were applied in July 2017 where the latest release was Jun 21, 2017. For now I'll have to build and manage my own release on my computer, but could we simply get a new release tagged and published? I ran the tests and it seems to w

[2018-01-19 18:00] sean- commented on #16
Internally the PostgreSQL provider needs to emulate the password SHA and store the value.  This has been on my list of things to get around to but I haven't had a chance to work on this in a few months.  I'm hoping sometime in February I'll be able to get back to some of this and flesh out a few more resources.

[2018-01-19 18:15] sean- commented on #25
As soon as #26 and #27 go in, a release should go out.

[2018-01-19 18:50] sean- commented on #25
#26 and #27 were merged, so we're g2g for a release, which should be getting cut sometime today.  I'm proactively closing this out, but expect `0.1.1` to be released later today.  Thank you for the nag to get this out the door and @catsby for shepherding the release.

[2018-01-19 18:50] #25 closed

[2018-01-19 18:53] sean- commented on #24
@sgendler-stem I'm sorry to hear that.  Can you provide a sample terraform config that demonstrates this so I can understand better what's going on?  I confess, I'm not sure I fully understand because I think things are working correctly, but want to address your frustration because I'm sure you're not the only one who has bumped into this.

[2018-01-30 07:12] sgendler-stem commented on #24
I would close this.  It was some cascade of bugs that were creating the impression of the 'bug' described here but I cannot even remember, offhand, what the actual issue turned out to be or how I worked around it.  It was definitely not as described above, however, so I'm closing this

[2018-01-30 07:12] #24 closed

[2018-02-03 00:51] bloo commented on #2
I'm seeing this during `plan` when running on Atlas (Terraform Enterprise), which runs on Ubuntu, but not locally! - on  my Darwin/OS X machine. Are there different versions of the provider plugin? I'll be watching this closely and will gladly provide more info if needed.

(fyi - version 0.11.2)

[2018-02-03 18:10] sean- commented on #2
@bloo Can you paste your error message from your plan?

@tomelliff What do you have `"${var.database_port}"` set to?

[2018-02-05 17:42] bloo commented on #2
@sean- I keep it as its default, but I just tried it set to `5432` and saw the same issue.

[code]

[2018-02-05 23:50] sean- commented on #2
@bloo in your run, can you set the logging level to `INFO` and re-run?  There should be a line that looks like:

[code]

that will help shed some light on this.

[2018-02-06 16:42] bloo commented on #2
@sean- here's the output with `TF_LOG=INFO` set:

https://gist.github.com/bloo/638a769ac134bbff4d43974fadafbca5

[2018-02-09 04:04] sugizo opened #28 "can't run postgresql with docker"
### Terraform Version
[code]

### Terraform Configuration Files
[code]

### Expected Behavior
postgresql can run alongside with docker and create new database name testnewdb

### Actual Behavior
docker with postgresql image is not downloaded or running and receive an error during
 `./terraform plan`
**using configuration**
host            = "localhost"
**error**
* provider.postgresql.pg1: Error in

[2018-02-09 18:33] danthegoodman opened #29 "Suggested resource: postgresql_grant"
I'd like to have support for managing [GRANT](https://www.postgresql.org/docs/10/static/sql-grant.html) and [REVOKE](https://www.postgresql.org/docs/10/static/sql-revoke.html) statements on individual roles. This could be similar to the [`mysql_grant`](https://www.terraform.io/docs/providers/mysql/r/grant.html) resource.

[code]

There's quite a few combinations of parameters which drive the `GRAN

[2018-02-12 23:24] bloo commented on #2
@sean- any headway into this? Is there anything else I can provide?

[2018-02-28 18:48] radeksimko commented on #2
Hi folks,
sorry this isn't working as expected.

As it was indirectly mentioned this is related to a known core issue where we perform the interpolation (of the DB hostname in this case) too early in the lifecycle.

See e.g. https://github.com/hashicorp/terraform/issues/12393 which was later consolidated to https://github.com/hashicorp/terraform/issues/4149

In regards to workarounds - some have b

[2018-02-28 20:33] bloo commented on #2
Hi @radeksimko - we had hoped to not split our module up if the fix was going to happen soon(ish), but seeing as the the core issue is 2+ years old, do you recommend that we move forward with the split and consider this issue as the state of the world for now?

[2018-03-01 09:10] radeksimko commented on #2
@bloo fix for the mentioned issue is not scheduled for the upcoming release (0.12) and I can't comment on the roadmap beyond that, so I'd recommend you do that.

Thanks for your understanding.

[2018-03-01 15:33] bloo commented on #2
@radeksimko thanks for the transparency 👍

[2018-03-02 11:32] tomelliff opened #30 "Doesn't support Postgres 10"
The provider doesn't seem to support Postgres 10, failing with `Error initializing PostgreSQL client: error detecting capabilities: error parsing version: No Major.Minor.Patch elements found`

Postgres has moved to just Major.Minor version for the 10+ release, not Major.Minor.Patch.

Both acceptance tests and planning the following config with `docker run --name postgres -e POSTGRES_PASSWORD=mysec

[2018-03-02 11:41] tomelliff commented on #30
Looks like it's an issue in `blang/semver` as it expects 3 parts and raises an error if not.

[2018-03-05 08:46] thegranddesign opened #32 "Schema Throws An Error If Exists"
I'm having an issue trying to apply policies to a schema (public) which already exists (obviously) and even with `if_not_exists` in my config, it still throws an error.

### Terraform Version
Terraform v0.11.3
+ provider.archive v1.0.0
+ provider.aws v1.10.0
+ provider.postgresql v0.1.1
+ provider.template v1.0.0

### Affected Resource(s)
Please list the resources as a list, for example:
- schema

[2018-03-19 17:18] tomelliff commented on #2
I noticed the other day that while I can't plan a config that has an RDS instance to be created plus any Postrgesql resources as others are trying I can apply it from scratch with the 0.1 provider version but this is broken in 0.1.1 (presumably due to the feature checking in https://github.com/terraform-providers/terraform-provider-postgresql/pull/12/files). Note that I'm also using Terraform 0.10

[2018-04-25 00:28] Zephirin commented on #11
Is there an ETA on this switch?

Just wondering, as I'm having a similar problem as #2.

[2018-05-08 10:07] frittentheke opened #35 "Update of CONNECTION LIMIT for database fails"
### Terraform Version
[code]

### Affected Resource(s)
- postgresql_database

### Terraform Configuration Files
[code]

### Expected Behavior
New CONNECTION LIMIT for a database is set.

### Actual Behavior
An error is thrown:
[code]

### Steps to Reproduce
1. Create a database with a set connection limit.
2. `terraform apply`
3. Change the connection limit
4. `terraform apply` again

-> BOOM ;-)

[2018-05-09 07:37] boskiv opened #36 "Can not destroy postgresql_role after create"
Hi there,

I have a problem with destroying postgres role with database, created before.

### Terraform Version
[code]

### Affected Resource(s)
- postgresql_role

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Role deleted, database deleted

### Actual Behavior
Role and database still existing.

### Steps to Reproduce
Please list the steps required to rep

[2018-05-09 07:40] boskiv commented on #36
Here is a some notice: https://www.postgresql.org/message-id/1270219014.5640.7116.camel%40ebony

[code]

[2018-05-09 07:54] boskiv commented on #36
Solve it temporary with:
[code]

[2018-05-14 16:50] boskiv opened #37 "Can not delete database because of dependency on ECS"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_database.tenant

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
When I try to destroy terraform i have got an error:

[code]

### Expected B

[2018-05-14 17:00] boskiv commented on #37
[code]

[2018-05-14 23:47] SentenaiBot opened #38 "Postgresql provider uses local DNS resolver not SSH bastion's resolver"
### Terraform Version
Terraform v0.11.7
+ provider.digitalocean v0.1.2
+ provider.google v1.3.0
+ provider.local v1.0.0
+ provider.postgresql v0.1.1
+ provider.template v1.0.0
+ provider.vault v1.0.0

### Affected Resource(s)
Please list the resources as a list, for example:
- provider postgresql

### Terraform Configuration Files
[code]

### Terraform Output
module.observatory.provider.postgresql

[2018-05-14 23:52] jayed commented on #38
(Sorry. Forgot I was logged into my bot account. I've subscribed with my real id).

[2018-05-16 18:14] #38 closed

[2018-05-17 20:00] #30 closed

[2018-05-24 16:53] rsheldon commented on #30
I commented on the PR, but realized that it may be better to do so here. Can we please get a release with this fix in it released? Or at least a ETA?

[2018-05-24 18:38] sean- commented on #30
@rsheldon I'm going to have some cycles to play with TF + PG over the next week and after I burn through a few items there I was going to see about getting a release kicked. Maybe in 1-2 weeks?

[2018-05-24 18:41] rsheldon commented on #30
Thanks Sean. Look forward to trying it out.

On Thu, May 24, 2018 at 11:39 AM Sean Chittenden <notifications@github.com>
wrote:

[2018-06-01 14:54] inversion opened #39 "Creating uuid-ossp on AWS RDS Postgres 9.6.6 silently fails"
This succeeds when ran from `psql` with the same user.

### Terraform Version
Terraform v0.11.7
+ provider.postgresql v0.1.1

### Affected Resource(s)
- postgresql_extension

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
The apply should have failed because the extension was not created.

### Actual Behavior
The apply succeeded silently but the extension

[2018-06-02 19:56] sean- commented on #39
Howdy.  I wasn't able to reproduce this.

[code]

[code]

[code]

Can you verify via `\dx` that the extension isn't already loaded, but in a different schema that is outside of your `search_path`?

[2018-06-04 19:45] ahartma1 commented on #16
Any update on this? I find that no matter whether im setting the password initially or changing it, neither works

[2018-06-22 14:54] mwz commented on #2
Hi, I'm experiencing the same issue, has there been any progress on this?

[2018-07-06 03:20] LucidNeko opened #41 "Being a squeaky wheel to get a new version released"
Hi there,

I headed over to https://www.terraform.io/community.html first and asked on gitter, the advice was to go and be a squeaky wheel over here :)

I'm waiting on a release containing 1ebb1d55bdb9d04ad8cff8f077df4d1ca5037d15 so that I can upgrade to terraform 11 and use postgres10 (currently hanging back on terraform 9 for that project, but using terraform 11 everywhere else)

Just getting an

[2018-07-07 19:11] sean- commented on #41
0.1.2 was released yesterday.  Enjoy.

[2018-07-07 19:11] #41 closed

[2018-08-02 15:20] hashibot[bot] opened #42 "How to work with postgresql resource through bastion host?"
_This issue was originally opened by @andreichernov as hashicorp/terraform#18591. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

How I can make some actions with Postgresql db on AWS RDS through bastion host in the same VPC

[code]
but after `terraform plan` terr

[2018-08-15 13:32] max-rocket-internet commented on #42
We are also looking for a way to do this. It would be great if the provider could support this!

For example, other PostgreSQL tools support this, like Postico and pgAdmin etc.

I think it could work like this on the provider:

[code]

[2018-08-16 13:52] andreichernov commented on #42
If anyone know any workaround to solve this problem please let know.
I cannot to solve it even with using ssh forwarding because terraform not support  [#2430](https://github.com/hashicorp/terraform/issues/2430) dependency for providers and postgresql provider produce an error because started without dependency from ssh forwarding resource
[code]

[2018-08-19 06:15] agalazis opened #46 "Allow specifying database for each resource"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
11.5

### Affected Resource(s)
All resources of terraform-provider-postgresql

#Feature request
Allow specifying database for each resource if yo

[2018-08-22 09:37] gaurav218 opened #47 "PostgreSQL Provider fails to connect to exisitng DB Instance on Azure Cloud"
When I try connecting to PostgreSQL DB on Azure it fails with below error
Error: Error running plan: 2 error(s) occurred:
* provider.postgresql: Error initializing PostgreSQL client: error detecting capabilities: error PostgreSQL version: dial tcp :5432: getsockopt: connection refused
* provider.postgresql.pgconnect: Error initializing PostgreSQL client: error detecting capabilities: error Postgre

[2018-08-22 15:20] scott2b commented on #2
Are these workarounds expected to work for an RDS instance inside a VPC? From what I can see, that is not the case. This problem persists for me despite having pre-created the instance and simply running a postgresql provider database and/or role create resource in an isolated terraform against the existing endpoint.

I have tried adding a NAT gateway, as well as adding a public subnet to the subn

[2018-08-23 13:42] hypnoglow commented on #47
I got the same problem when I specify the alias for the provider. When I remove the alias, everything works fine.

[2018-08-23 13:58] gaurav218 commented on #47
Tried commenting alias part but still same error. This comes in at terraform plan stage itself, any suggestions will be helpful

provider.postgresql: Error initializing PostgreSQL client: error detecting capabilities: error PostgreSQL version: dial tcp 191.x.x.x:5432: getsockopt: connection timed out

[2018-08-27 13:01] gaurav218 commented on #47
appreciate if anyone can suggest how to resolve this issue ??

[2018-08-28 08:47] gaurav218 commented on #47
@hypnoglow did you tried for Azure PostgreSQL ??

[2018-08-28 11:53] carlpett commented on #39
@sean- We're seeing this too (on Azure, if that matters). Checking with `\dx`, the extension is indeed created, *but* we can't use it on other databases than the default `postgres` one. The current resource doesn't seem to be able to set the database context the extension is installed in, though?

[2018-08-28 12:14] carlpett commented on #39
Ah, we need to set the `database` on the provider. If I do so, it works. @inversion does this help your case?

[2018-08-28 13:30] inversion commented on #39
We didn't have `database` set on the provider - interesting. For bootstrapping in one run I guess we'd need to use two provider instances and `depends_on`? I've noticed the provider seems to connect immediately though, so the provider with `database` set would probably fail to initialise? I'll have to try this and work out a minimal example.

[2018-09-12 16:11] carlpett opened #48 "Provisioning scripts"
_(I couldn't find anything about this, neither docs or feature requests, which seems strange, so I expect my searching skills are just bad. Sorry)_

It would be useful to have a provisioner-like interface for running one-off scripts as part of database creation. Is this possible somehow already? Specifically, I need to create a few views which require super-user access, but I don't want to share t

[2018-09-13 15:14] ctrom commented on #30
I seem to still be experiencing this:
`Error: provider.postgresql.cf_rds: invalid version ("10.3"): No Major.Minor.Patch elements found`

Provider version:
`provider.postgresql v0.1.2`

[2018-09-13 15:31] ctrom commented on #30
I have found that if I specify the `expected_version` as `10.3.0` instead of `10.3`, that I can successfully connect to the postgres instance with this provider. `10.3.0` is not a valid postgres version (as noted by @tomelliff) so this is more of a hack than a solution, but it has unblocked me for now.

@sean- could you reopen this issue?

[2018-09-14 16:12] silvpol opened #49 "Allow specifying ssl certs/keys"
Hi

### Terraform Configuration Files
[code]

### Expected Behavior
The library used in provider (lib/pq) allows specifying location of certs/keys via env variable and builds correct string. Unfortunately the provider itself does not expose the necessary fields to configure it. I have added the new fields to my example config above.
As a temporary workaround, I have created a script which, when so

[2018-09-24 15:02] catt231 opened #50 "Microsoft Azure Version Number Parsing"
### Terraform Version
0.11.8

### Affected Resource(s)
Provider

### Terraform Configuration Files
[code]

### Debug Output
https://gist.githubusercontent.com/catt231/6719b7b584231bc6702b0ce98a273303/raw/4581446b865fea4079a4009b49aff83dd8730289/postgres-parsing-version

### Expected Behavior
Parse Version Number Successfully

### Actual Behavior
```Error initializing PostgreSQL client: error detec

[2018-10-02 21:05] ordenador commented on #50
i have the same problem

[2018-10-03 08:17] carlpett commented on #50
This seems to have been fixed in #40, but there still hasn't been a release with it. @sean-, any plans to make a 0.1.3 soon?

[2018-10-03 08:56] carlpett commented on #50
As a workaround for cases where it works, v0.1.0 of this provider *doesn't* attempt to parse the version number, so that is what we've fallen back to for now (but will probably also expose you to some bugs that have since been fixed)

[2018-10-03 15:40] ordenador commented on #50
in version v.0.1.0:
works when i create the resource, but when i try destroy, appear an error:
` module.db.postgresql_role.user: postgresql_role.user: dial tcp :5432: getsockopt: connection refused
`

[2018-10-17 12:34] joye-ramone commented on #30
I still see message:
**error detecting capabilities: error parsing version: Invalid character(s) found in minor number "5,"**
select version(); return:
**"PostgreSQL 10.5, compiled by Visual C++ build 1800, 64-bit"**

Is it something that I can skip via configuration?

[2018-10-31 15:08] tetlika commented on #30
still seeing error :+1:
Error: Error refreshing state: 1 error(s) occurred:

* provider.postgresql: Error initializing PostgreSQL client: error detecting capabilities: error parsing version: Invalid character(s) found in minor number "5,"

I specified

expected_version = "10.5.0"

[2018-11-09 12:08] gbergere commented on #21
This would be so useful is there any update on it?

[2018-11-28 12:05] lentferj opened #55 "Azure managed PostgreSQL service username mapping"
**Terraform v0.11.10
provider.azurerm v.1.19.0
provider.postgresql  master c766a68**

The Azure managed PostgreSQL service seems to use pg_ident.conf or similar for user name mappings. When accessing a managed PostgreSQL service in Azure you need to specify  _username_@_servicename_, e.g. psqladmin@psqlserver1 in the connection string for the user.
Internally in PostgreSQL only the role _username_

[2018-12-04 05:03] holms commented on #42
Any progress on this? How can one even not have this feature, I mean everything in AWS should be in VPC right?

[2018-12-07 10:03] CumpsD commented on #30
Same problem when using an Azure Postgresql, also `10.5,`

[2018-12-08 22:30] peterbev commented on #55
As I only need this to work for Azure I took a hammer to the problem and replaced all instances of `c.config.Username` with `strings.Split(c.config.Username, "@")[0]` in resource_postgresql_database.go and resource_postgresql_role.go

Not terribly elegant but gets me past the stumbling block...

[2018-12-10 20:31] tburow commented on #2
bump on this issue. still seeing this, im really surprised that this hasnt been resolved?

will this be resolved in the 12 release or?  ETA on the 12 release?

[2018-12-12 05:08] guilhermeblanco opened #56 "Is this repository being maintained?"
No PRs being merged, no issues being responded, lots of bugs and limitations. And that's an official provider from Terraform...

[2018-12-12 09:20] evgmoskalenko commented on #32
Someone find a workaround of this problem?

[2018-12-12 15:06] cliveza commented on #56
Yes, I want to know too, is this still being maintained?

[2018-12-18 17:40] randomcamel commented on #56
Hi @guilhermeblanco!

I understand your frustration: it's not always clear from our repository structure who is responsible for different activity under `terraform-repositories`: HashiCorp manages the acceptance testing and release infrastructure, but we ourselves only steer development on a relative handful of them (most notably `aws`).

Earlier this year we went through the providers to make sur

[2018-12-18 19:02] sean- commented on #56
I spend basically no time and effort on PostgreSQL-related items these days.  I'll cherry-pick issues periodically when I need a distraction from something else.  When I do need to spin something up for PostgreSQL, I do use the TF provider, but it's not that often anymore, and I almost never use RDS or any AWS services when using PostgreSQL.  If I can't test it or verify it, it's hard to do the wo

[2018-12-18 19:09] guilhermeblanco commented on #56
Hi all,

We use this driver extensively and had worked on its limitations, specially with RDS. Some forks are already way ahead in support as the official one, and I'd be more than happy to review the logic (I can't actually do Go) and merge if appropriate.

I'd say there're few critical pieces that would make working with PgSQL and TF much simpler in RDS. Implementing a grant support would alread

[2018-12-29 15:57] cyrilgdn commented on #56
We are also using this provider (with RDS for production). We've done multiple developments in order to fix bugs and create missing resources (for our use case) like grant support, default privileges, etc.... Multiple PRs ( #51 #52 #53 #54 ) are open with our work. We still have some PRs to do (we have a quick "fix" for RDS that we need to work on).

I also sent an email to @randomcamel , I would

[2018-12-29 19:10] sean- commented on #50
Closing as fixed in #40

[2018-12-29 19:10] #50 closed

[2019-01-12 15:16] cyrilgdn commented on #56
I'm now a new maintainer of this repo and I'll try to make it evolve. It may take a little while before the next release but it's my goal.

I close this issue for now but feel free it to comment if needed.

[2019-01-12 15:16] #56 closed

[2019-01-12 19:33] cyrilgdn commented on #55
@lentferj  @peterbev I guess we can add a `DatabaseUsername` field in the provider config which will be empty by default (so equal to `Username`).

It will be more generic because `username@servicename` is Azure specific and [user name maps](https://www.postgresql.org/docs/9.1/auth-username-maps.html) can contain anything.

Does it seem ok for you?

[2019-01-12 19:56] cyrilgdn commented on #9
@dohoangkhiem Without answer, I allow myself to close this issue.

Feel free to reopen it if needed after having check if it's not fixed (see previous comment).

[2019-01-12 19:56] #9 closed

[2019-01-12 20:36] peterbev commented on #55
@cyrilgdn sounds good to me...

[2019-01-13 15:19] cyrilgdn commented on #2
Hi,

As [very well explained](https://github.com/terraform-providers/terraform-provider-postgresql/issues/2#issuecomment-369341707) by @radeksimko, this is Terraform core issue. I recommend everyone concerned to read the aforementioned issue: https://github.com/hashicorp/terraform/issues/4149.

So I'm in favor to close this issue. Any opinion?

[2019-01-13 15:54] cyrilgdn commented on #15
This is resolved since 0.1.1 thanks to https://github.com/terraform-providers/terraform-provider-postgresql/pull/12

[2019-01-13 15:54] #15 closed

[2019-01-13 18:49] sean- commented on #56
Congratulations @cyrilgdn!  I can't promise I'll be available, but if you have Q's, feel free to @ me to get my attention.

[2019-01-13 19:37] cyrilgdn commented on #2
@tomelliff Thanks for the clarification. I just tested this case in 0.1.0 and I get your point. I'll try to check what can be done about that.

[2019-01-13 19:40] #16 closed

[2019-01-20 19:03] cyrilgdn commented on #55
I created a little PR (#58) to manage this case. Feel free to review it :)

[2019-01-29 14:32] evgmoskalenko commented on #17
@tomelliff Could you please show the final code?

[2019-01-31 23:05] renatoargh commented on #42
Unfortunately, not being able to pass ssh tunnel configs to the provider is a big show stopper for us. Would be more than awesome having a configs [like this](https://www.terraform.io/docs/provisioners/connection.html#connecting-through-a-bastion-host-with-ssh).

I managed to work around by using @andreichernov answer AND version v0.1.0 (which waits before trying to connect, so there is time for t

[2019-02-04 22:46] appilon opened #60 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-02-05 10:54] cyrilgdn commented on #60
@appilon 100% in !

[2019-02-08 00:54] ktham opened #62 "Postgres Connection through Bastion Host"
I'd like to use the Postgres TF provider on Terraform Enterprise, however, our database is in a private network and is not publicly visible. I'd like to configure the pg connection to go through a bastion host.

Can we add the ability to specify a bastion host as a proxy node? I can also try to contribute if this is a feature that can be incorporated into this provider.

[2019-02-08 10:43] cyrilgdn commented on #62
Hi @ktham, I allow myself to close this issue as it seems to be a duplicate of #42. Feel free to open it back if I missed something.

As a new maintainer of this provider, for now I'm focus on releasing new versions with all the stuff that have already been done. So I didn't get time to think about this problem yet.

If you have some ideas, you can share it on the #42 issue ! And if you want to gi

[2019-02-08 10:43] #62 closed

[2019-02-12 17:18] #35 closed

[2019-02-14 19:40] CowChris commented on #39
+1

[2019-02-15 08:47] #55 closed

[2019-02-21 06:53] sodul opened #64 "0.2.0 release causes permissions issues"
We just noticed that our terraform rules break on Linux (plugin upgraded to 0.2.0), but not on macOS (still on 0.1.3):

### Terraform Version
# terraform version
Terraform v0.11.11
+ provider.archive v1.1.0
+ provider.aws v1.59.0
+ provider.postgresql v0.2.0

### Affected Resource(s)
postgresql_role

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected

[2019-02-21 10:28] hypnoglow commented on #64
Upvote for this. This is probably because RDS [does not have](https://tickets.puppetlabs.com/browse/MODULES-5068) pg_shadow.

[2019-02-21 11:22] cyrilgdn commented on #64
Hi, thanks for opening this issue.

Before 0.2.0 the role password was not correctly updated (see #54 ).
Unfortunately fixing that caused this issue with RDS....

Actually there is but as "admin" user is not SUPERUSER on RDS, he don't have permission to read pg_shadow which is the way to know is password has changed or not.

I'll try to create a fix quickly (in next days).
Also I don't see a perfe

[2019-02-21 14:13] kdubmartins commented on #64
+1 for this issue. I'm also experiencing this behavior.

[2019-02-21 16:12] roccato commented on #64
+1 as well. This provider generally doesn't play nice with RDS(funny how removing actual SUPERUSER makes it hard to manage a database)

[2019-02-21 17:18] sodul commented on #64
If pg_shadow is not available, which from a security standpoint seems like a good idea, a fallback solution could be to attempt to login with the given username and password. Yes, it is not ideal since each user might have login restrictions, and this would be slower, but it can be a way to detect a password change in a good chunk of cases.

[2019-02-21 22:41] #60 closed

[2019-02-25 22:01] andrewwatson commented on #64
@sodul I'm having the exact same problem.  how did you pin this provider to 0.1.3? I can't get it to accept my restrictions!

Also, it seems like it might be better if there was an option you could pass the provider to get it to ignore pg_shadow and skip password checking.  I was used to it not being able to modify passwords! :)

[2019-02-25 23:08] sodul commented on #64
@andrewwatson just set the provider to 0.1.3 it will allow all versions between 0.1.3.0 (included) and 0.2.0 (excluded). You might have to rerun `terraform init` to go backwards in plugin versions. In the worst case move the `.terraform` directory out of the way and retry.

[2019-02-26 00:06] andrewwatson commented on #64
oh yeah, i tried all kinds of syntax for the version pinning but just saying "0.1.3.0" did the trick!

[2019-02-26 00:07] andrewwatson commented on #64
why don't we just make it so it always tries to set the password and doesn't bother to see if it's already correct? what's the harm in that?

[2019-02-26 11:18] flrnmrz commented on #64
This issue also affects Google Cloud SQL databases. We successfully pinned the release to 0.1.13 using the selector `~> 0.1.13`. Previously, we were suffering from the problem that the postresql provider wouldn't keep the password up-to-date, so thumbs up from our side for attempting a fix here. @andrewwatson , I'm not sure if always setting the password is really a good option: this might cause a

[2019-02-26 13:07] milosgajdos83 commented on #2
Silly question, but if the advice is to split your `aws` and `postgres` configs into two separate directories, how does one deal with multliple `init`s?

First, one needs to init the `aws` config (which generates local `.terraform` directory), then the `postgres` config requires to be intiialized too which if done from the "root" directory it will override the previously created `.terraform` direc

[2019-02-26 16:50] andrewwatson commented on #64
I can see why that might trigger an alert. Maybe we can make it an option.
Always update password or try to login first.

On Tue, Feb 26, 2019, 6:18 AM flrnmrz <notifications@github.com> wrote:

[2019-02-26 21:01] cyrilgdn commented on #64
I created a PR (#66) to fix this problem.

It allows to specify in provider configuration that admin user is not a superuser (like in RDS and apparently GCP). in this case, the provider will not try to read the password while refreshing the state.

Password updates will still work as long as you are doing all modifications with Terraform (so if you don't update password manually in the database, o

[2019-02-26 23:12] milosgajdos83 opened #67 "Error reading role: pq: permission denied for relation pg_shadow"
### Terraform Version
[code]

### Affected Resource(s)
[code]

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
`postgresql` role gets created without any errors.

### Actual Behavior
The `postgresql` database does get created and so does the `postgresql` role as I can use it to log on to the database, but it seems like RDS `master_user` tries to read `pg_sh

[2019-02-27 00:39] mlehner616 commented on #67
I can confirm this behavior and that 0.2 does not appear to be useable right now with RDS. In RDS, we don't have access to `pg_shadow` if I remember correctly.

I began receiving this same error after my version pinning was left a little too liberal with `~> 0.1.` Pinning back to `~> 0.1.3, < 0.2` fixed the error for now.

[2019-02-27 07:46] cyrilgdn commented on #67
Hi @milosgajdos83 ,

Thanks for opening this issue, I allow myself to close it as it's a duplicate of #64 .

I already  created a PR to fix this problem: #66 Feel free to review it if you want.
A 0.2.1 will be released with this fix in the next two days.

[2019-02-27 07:46] #67 closed

[2019-02-27 15:09] fernandomora commented on #64
+1 Same problem here

[2019-02-27 20:59] #64 closed

[2019-02-28 18:29] cyrilgdn commented on #64
Hi all,

[Version 0.2.1](https://github.com/terraform-providers/terraform-provider-postgresql/releases/tag/v0.2.1),  has been released today .

You can add `superuser = false` in your provider configuration so it will not try to refresh password from your Postgres server.

example:
[code]

See #66

[2019-02-28 18:30] cyrilgdn commented on #67
Hi @milosgajdos83 @mlehner616 ,

[Version 0.2.1](https://github.com/terraform-providers/terraform-provider-postgresql/releases/tag/v0.2.1),  has been released today .

You can add `superuser = false` in your provider configuration so it will not try to refresh password from your Postgres server.

example:
[code]

See #66

[2019-03-04 07:44] jml commented on #13
Hi @sean-,

I came across this ticket. I'm very keen to manage schema and user permissions for Redshift with Terraform, so please let me know what I can to do help.

Here's the output you requested. I've redacted internal names.

cheers,
jml

[code]

[2019-03-05 22:36] gomker commented on #64
I still see this issue with v0.2.1

	provider "postgresql" {
		alias    = "rds"
		version  = "0.2.1"
		host     = "${module.rds.endpoint}"
		port     = 5432
		database = "postgres"
		username = "${var.rds_master_username}"
		password = "${var.rds_master_password}"
		sslmode  = "disable"
	}

	resource "postgresql_role" "main" {
	  provider = "postgresql.rds"
	  name     = "${var.role_name}"
	  logi

[2019-03-05 22:47] mlehner616 commented on #64
@gomker It sounds like you'd need to put `superuser = false` in the `provider` block itself. I haven't tried myself though.

[2019-03-06 08:48] cyrilgdn commented on #64
@gomker @mlehner616  Indeed, the `superuser` flag has to be set in the provider configuration, see in [my example](https://github.com/terraform-providers/terraform-provider-postgresql/issues/64#issuecomment-468383687) above.

[2019-03-06 23:53] archyufa commented on #47
@peterbev I don't understand how this works if you set that you DB creation depends on users that don't exist yet and they can be only created if database exist in first place. Can you explain?

[2019-03-07 16:35] gomker commented on #64
Ah, I did not see that as an option on the provider -  I will try that when I rebuild and report back

[2019-04-01 20:12] zytek opened #70 "Temporarily add role membership when managing permissions"
Add `GRANT $owner TO $connected_user` when managing permissions.

Notice: we should probably remove this grant afterward to not leak permissions BUT only if it wasn't granted before we did it/checked for it. So, as far as I understand, provider should check if this membership is added, add it if not and later remove it.

Mentioned in #53
Related https://github.com/hashicorp/terraform/pull/11452

[2019-04-01 20:18] zytek commented on #70
If anyone has this in progress please mention me, if not I will try to submit PR this week

[2019-04-02 06:45] cyrilgdn commented on #70
@zytek Thanks, for opening the issue.

True ! And if you give it a try, note that I already had to do something similar here: https://github.com/terraform-providers/terraform-provider-postgresql/blob/master/postgresql/resource_postgresql_database.go#L132-L142
So helpers already exist for that. (Unfortunately I added them after creating the PR for grant & default privileges :) )

[2019-04-02 10:00] zytek opened #72 "bug: postgresql_default_privileges not idempotent"
# Affected resources
- postgresql_default_privileges

# Description
When used with `priviledges = ["ALL"]` the resource is not idempotent

[code]

On each plan/apply run it shows that it plans to make this modifications:

[code]

# Version
Terraform v0.11.13
provider from current HEAD

[2019-04-02 10:23] zytek commented on #48
Try https://www.terraform.io/docs/provisioners/local-exec.html

[2019-04-02 10:25] zytek commented on #42
I successfully use VPN that gives me access to VPC.

[2019-04-12 18:57] goruha opened #73 "When 0.2.2 would be released?"
Hello

When 0.2.2 would be released?
We really need grant resource.

[2019-04-15 08:06] cyrilgdn commented on #73
@goruha Thanks for raising this issue.

I was hoping to merge a last PR before releasing a new version but as it's longer than expected I'll ask for a new release today or tomorrow. (BTW  it will be the v0.3.0 :) ).

[2019-04-16 08:35] kostya2011 commented on #73
+1 for release :)

[2019-04-16 17:11] cyrilgdn commented on #73
@goruha  @kostya2011 [v0.3.0](https://github.com/terraform-providers/terraform-provider-postgresql/releases/tag/v0.3.0) has just been released.

[2019-04-16 17:11] #73 closed

[2019-04-16 17:13] cyrilgdn commented on #72
Thanks for raising this issue @zytek .
Indeed I never tested/used it with `ALL` privileges. I'll try to take a look as soon as I can.

[2019-04-21 14:27] #21 closed

[2019-04-29 03:58] isen-ng commented on #2
My terraform scripts creates an RDS instance and attempts to use the postgres provider together in the same run. Fails on provider version 0.3.0, saying that it cannot connect to instance `:0` (because the RDS instance hasn't been created yet)

But I can do the same thing on provider version 0.1.0 smoothly
[code]

[2019-05-08 02:38] wolf31o2 commented on #28
This is essentially the same issue as #2 which boils down to an upstream issue.

[2019-05-08 14:44] wolf31o2 commented on #28
I'm not the OP. 🙂

[2019-05-08 14:56] mavogel commented on #28
True :) My bad => //ping @sugizo

[2019-05-08 19:14] jleeh commented on #39
+1 in regards to silently failing. In my case, it was failing because in the provider I had `superuser = false`, but it was shown as successful. When I marked the user as a superuser in the provider, the extensions were created fine on the box.

[2019-05-08 19:26] jleeh opened #77 "Could not read role password from Postgres as connected user is not a SUPERUSER"
### Terraform Version
v0.11.13
Postgres provider: v0.3.0

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_role

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
The connected user is a superuser so the role should be created fine.

### Actual Behavior
Reported user isn't a superuser when it is. Prior to the role creati

[2019-05-09 12:23] cyrilgdn commented on #77
Hi @jleeh ,

As the error is mentioning, you have to add `superuser = false` in the provider configuration (see  https://www.terraform.io/docs/providers/postgresql/index.html#superuser)

Non-superuser role does not have the privileges to read password in Postgres.
Updating password will still work with `superuser = false` but it will not detect if you changed the password manually (i.e.: not with

[2019-05-09 12:23] #77 closed

[2019-05-09 12:59] jleeh commented on #77
Hey @cyrilgdn, that's the issue. The user is a superuser. The user I'm using is the one created with the RDS cluster, and just before this error, that same user created extensions, which requires superuser.

[2019-05-09 14:06] cyrilgdn commented on #77
@jleeh Sorry, I read a bit too quickly your issue.

But roles can't be `SUPERUSER` on RDS, the `postgres` role created by RDS is just a member of `rds_superuser` which is close to a Postgres `SUPERUSER` but with some limitations. One limitation is that it can't read role passwords.

See https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Appendix.PostgreSQL.CommonDBATasks.html#Appendix.PostgreS

[2019-05-09 14:34] jleeh commented on #77
No worries. So I'm going through the provider source at the read role password function:
https://github.com/terraform-providers/terraform-provider-postgresql/blob/master/postgresql/resource_postgresql_role.go#L439

From looking at the logic, even if the password doesn't match on read then the password given as input is returned, no error is thrown if they don't match. If the configured user provid

[2019-05-09 19:58] adamcrews commented on #46
One way to accomplish this is by using multiple providers.  You can specify what DB to connect to in the provider, then use different providers per resource.

The problem with this approach becomes ensuring the database exists before the provider is initialized, so we get around that by using terragrunt to run our terraform, and the terraform that creates the db is in 1 module, and the terraform t

[2019-05-13 07:33] Mor-Walkme opened #79 "Terraform 0.12 support"
### Terraform Version
Terraform v0.12.0-beta2

### Affected Resource(s)
All postgres resources, i tested "postgresql_role" and "postgresql_database"

### Terraform Configuration Files
[code]

### Debug Output
[code]
### Panic Output
https://gist.github.com/Mor-Walkme/8ba6549d49cc96baaf92d32c3df1bff1

### Steps to Reproduce
terraform apply

[2019-05-13 09:37] adharmawan commented on #29
The created resrource `postgresql_grant` only supports `ALL TABLES` or `ALL SEQUENCES` of a schema. Is there a plan to support specific table grants as per description above?

[2019-05-13 10:32] cyrilgdn commented on #29
@adharmawan Yes, I can't really promise when it will be done but it was plan to be done in further iterations.

[2019-05-13 10:53] mavogel commented on #79
@Mor-Walkme the provider is not `v0.12` ready yet. More internal updates have to be made for this. We will keep this issue linked to the PR

[2019-05-15 10:54] raskam commented on #42
Simple workaround for those who do not want to install VPN. It proxies all traffic to specific IP address through bastion host using SSH.

[code]

Then run terraform as you would normally.

[2019-05-15 18:39] so0k commented on #2
similar dependency issue with creating a schema and adding extensions into the schema, need to be split as well resulting in 3 folders:

- `aws/main.tf`
- `postgres/database.tf`
- `postgres/extensions.tf`

with a lot of microservices, this becomes unsustainable

[2019-05-15 20:49] cyrilgdn commented on #2
@so0k Hmm this should not be the case for the db/schema/extension part. Only the `aws` part should be (currently) run in a separate step. Dependencies between Postgres resources should work.

If it's not the case could give an example with the associated error message please?

[2019-05-16 13:13] outime commented on #2
I can't understand why the MySQL provider works fine with the same setup (I just tested it) but this provider can't, given that it's supposed to be a core Terraform issue. I'm not expecting a straight answer given that we're talking about completely different providers but I'm genuinely wondering.

[2019-05-23 00:23] mlehner616 commented on #79
What's the roadmap for this to be 0.12 ready? Now that 0.12 is released, is it expected that this will be ready soon or is this blocked by something required in 0.12.1+?

[2019-05-23 06:59] mavogel commented on #79
@cyrilgdn do we have any ETA yet for supporting v0.12?

[2019-05-23 08:01] nunofernandes commented on #79
Running terraform 0.12checklist gets me to:

[code]

[2019-05-26 08:51] daviskirk opened #81 "multiple postgresql_grant resources freeze plan"
After creating multiple instances of a `postgresql_grant` resource, subsequent `plan` steps freeze, making further work impossible.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_grant

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/daviskirk/470d15ac5fb7a6ebd3ad4b19f15367c5

### Expected Be

[2019-05-27 12:40] zytek opened #82 "Lack of owner attribute on the grant resource"
`postgresql_grant` resource lacks `owner` attribute, similar to `postgresql_default_priviliges`

Without it, it is impossible to manage multiple users across multiple databases with one provider, at least on RDS (no superuser).

As we already allow such use case with other resources - with hacks such as temporary grant for the connected user - we should make sure all resources offer similar capabi

[2019-05-28 10:23] pyranja commented on #81
I think I see the same bug, but already with just 2 grants and default privileges. The log output did not show any immediate clues. If you can give me some directions I can try to debug more.

[code]

[2019-05-30 17:20] sixcorners opened #84 "select data provider?"
Would it be a good idea to create a data provider that can return the results of a select statement?

[2019-05-30 17:31] sixcorners commented on #84
Maybe something like this?
[code]
I'm not sure about the nouns though.. query_results? query?  results?
Should it be something like result_sets? /shrug

[2019-05-31 18:17] cyrilgdn commented on #81
Hi @daviskirk ,

Many thanks for raising this issue. Thanks to your example I easily reproduced this problem.
I just discovered that there's actually a [connections number limit](https://github.com/terraform-providers/terraform-provider-postgresql/pull/12/files#diff-feb01b4bbf344fe171ea79cb13f3d5e2R13) in the provider which is 4 by default.

Since some versions, we are using more connections so cr

[2019-05-31 18:26] cyrilgdn commented on #84
Hi @sixcorners ,

What would be your use case for that?

We need to think about this but I already see some difficulties:
* What would be the format of the result in case of multiple rows, multiple columns?
* How (do we need to) to prevent no-readonly queries?

[2019-06-03 15:06] els-higginsd opened #85 "Improved postgresql_grant"
### Terraform Version
v0.11.14

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_grant

### Expected Behavior
Should be able to execute various GRANT statements

### Actual Behavior
Only able to execute GRANT on ALL tables or schemas

I have a use-case where I'd like to grant a role the ability to create schemas, but am not able to do so with the current post

[2019-06-07 09:36] adharmawan opened #86 "save encrypted password to terraform state"
Would like to have options to save encrypted password to the terraform state by passing `pgp_key` and outputting `encrypted_password`.

### Affected Resource(s)
- postgresql_role

or can create a new resource entirely, similar to https://www.terraform.io/docs/providers/mysql/r/user_password.html

[2019-06-07 16:29] cyrilgdn commented on #85
Hi @els-higginsd ,

The grant resource supports indeed only `table` and `sequence` for now but it was a first step and I plan to add more object types.
As you are requesting this one, I'll see how to that (and if your quick fix makes sense, apply it in the code).

I'll let you know here as soon I'll be able to work on it.

[2019-06-07 16:38] cyrilgdn commented on #86
Hi @adharmawan ,

I'm not aware of any discussion about that (but I'm a maintainer since a few months only).

I'd like to have a few days in order to check what and how the Mysql provider is doing  for that. Then if you want to give it a try, we'd be happy :)

[2019-06-12 10:52] aliasmee commented on #85
+1
[code]

Ref:  [ansible-postgres-pri](https://docs.ansible.com/ansible/latest/modules/postgresql_privs_module.html)

[2019-06-14 15:05] hatch-carl commented on #42
An unmentioned but also valid way to accomplish this is by setting up a tunnel using SSH, then running terraform with `localhost` as `host`.

[code]

[2019-06-17 06:50] cyrilgdn commented on #79
Hi all, sorry I'm a bit late on this as I was part in vacations and part busy these last weeks. I'll take a look at this upgrade this week and will ask for a new release for that as soon as it's merged. (I just need to read again the Terraform documentation about upgrading to 0.12 to be sure I understood correctly what it means for providers)

[2019-06-17 06:52] cyrilgdn commented on #79
Hi all, as I said in PR #83 , I'll take a look on this upgrade this week and will create a new release as soon as it's merged. (sorry for the late answer)

[2019-06-17 09:51] adharmawan commented on #81
[code]

Setting `max_connections` to `0` returns

`Error: provider.postgresql: max_connections can not be less than 1`

[2019-06-20 22:04] cyrilgdn commented on #79
PR #87 (which replace #83) has been merged. You can follow the GitHub repository to be alerted when the v1.0.0 will be released (normally in the next hours)

[2019-06-20 22:04] #79 closed

[2019-06-21 09:28] axmetishe opened #88 "Empty set destroy cause connection refused error"
Hi there,

### Terraform Version
terraform -v
Terraform v0.12.2
+ provider.aws v2.15.0
+ provider.postgresql (unversioned) -- compiled from '12update' branch github.com:tkellen/terraform-provider-postgresql.git

### Affected Resource(s)
- any resource within postgresql provider

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/axmetishe/093a548237b54bd5b4eb64ccac1

[2019-06-21 17:05] cyrilgdn commented on #79
Version 1.0.0 with the Terraform v0.12 compatibility  has been [released](https://github.com/terraform-providers/terraform-provider-postgresql/releases/tag/v1.0.0)

[2019-06-24 12:37] nunofernandes commented on #2
Also have the same issue after upgrading to version 1.0 of the module (and terraform 0.12).

[2019-06-25 15:42] axmetishe commented on #2
The main problem here is that plugin tries to determine engine version on plugin configuration stage:

[code]

[code]
[code]
which a sql request to the database in the essence:
[code]

Engine version used for checking capabilities:
[code]

I have no idea how to handle this properly, because version checking is required for resource proper configuration, but at the same time we should not be pinned

[2019-06-25 15:46] nunofernandes commented on #2
I think the best way of handling this is to have a `depends_on = ["rds.instance"]` feature in the provider information. But for that, it would require that https://github.com/hashicorp/terraform/issues/2430 is implemented.

[2019-06-25 16:20] axmetishe commented on #2
@nunofernandes I'm not sure that 2430 will resolve the issues because request to database generated at plan stage.
But may be switching module to handle compatibility property like compatibilityVersion does

[2019-07-08 17:25] dhermes opened #90 "Add optional `search_path` to `postgresql_role` resource"
I'm happy to take this on but wanted to make sure this was a feature the maintainers would be interested in adding before I start coding. The idea would be that it'd run

[code]

after creating the user. I'm not sure what the general approach to such a feature would be, i.e.

- Do we need to make sure the schema in `search_path` exists?
- Do we need to make sure the role has access to the schema i

[2019-07-10 10:21] cyrilgdn commented on #90
Hi @dhermes , thank you for opening this issue.

Yes we would be interested by this feature. There's actually 2 ways to define `search_path` for a role:

*  ``ALTER ROLE _role_name_ SET search_path TO  _schema_name_`` which set it at the server level.
*  ``ALTER ROLE _role_name_ IN DATABASE _dbname_ SET search_path TO  _schema_name_`` which set it at a database level.

The second one will be a bit

[2019-07-10 17:43] cyrilgdn commented on #88
Hi @axmetishe, thank you for opening this issue!

I have some difficulties to reproduce this error with your example. I think I know where it comes from but I would like to reproduce it to be sure. Are you able to provide a working example? I tried to copy your code and to add the variables with empty values (`users`, `databases`, etc..) but it didn't crashed.

Thanks in advance for your help!

[2019-07-17 09:40] stevecookform3 opened #91 "Add compatibility with CockroachDB"
Cockroachdb (https://github.com/cockroachdb/cockroach) is compatible with the postgres protocol, however the provider currently fails validating the versions

`Error initializing PostgreSQL client: error detecting capabilities: error parsing version: Invalid character(s) found in major number "CCL"`

Probably just requires tweaking in https://github.com/terraform-providers/terraform-provider-postg

[2019-07-17 15:59] dhermes commented on #90
I agree with both of these 😀

- I'll make it global (for now)
- I'll use a list rather than a string

Thanks for your time!

[2019-07-22 04:03] dhermes commented on #90
So @cyrilgdn I wanted to talk about how the `search_path` fits into [`resourcePostgreSQLRoleReadImpl()`][1]. I'd like to set the value via

[code]

where `roleConfigs` is a `text[]` value from the `rolconfig` column of `pg_catalog.pg_roles`. This is actually quite painful to parse (i.e. it needs a lexer to do it right). For just a small example of the sorts of values that can be set there:

[code]

[2019-07-26 01:35] robert-s-lee commented on #91
CRDB returns the following

[code]

[2019-08-02 12:47] #70 closed

[2019-08-02 16:09] cyrilgdn commented on #90
Hi @dhermes ,

Sorry for the late answer (I had a couple of weeks vacations).

It can indeed be hard to parse the exact list of schema with all your examples but actually we don't really need to manage them.
As soon as we manage this field, the provider is responsible of its value and its format.

So you choose which format you want to support and you write it and read it like that.
e.g.:: ``schem

[2019-08-02 22:05] dhermes commented on #90
So `strings.Split(configs["search_path"], ", ")` will not be sufficient. Due to the escaping, it's actually allowed to put a comma in a schema name for some pathological reason. E.g.

[code]

Though reading your message I now realize we could just not bother with parsing `configs["search_path"]` and check that the full string matches whatever we'd produce (i.e. some canonical / normalized string i

[2019-08-07 07:42] cyrilgdn commented on #90
Ouch... That hurts :sob: !

Actually we have to if we set this field as a `TypeSet` because in the `resourcePostgreSQLRoleRead` function we need to fill the list with the value read from the database.
Then Terraform will compare the `Set` we've read from the database with the `Set` it read from the `tf` files.

If it can help we could take the decision to forbid comma in schema name (I mean, is th

[2019-08-07 16:22] glerma commented on #81
`provider.postgresql v1.1.0`

I can confirm and reproduce the issue.  I had max connections set to default: 4, but had a count iterator in my resource for grants that went above 4:

[code]

[2019-08-08 04:04] basyar02 commented on #30
Still seeing the error :
Error: invalid version ("10.7"): No Major.Minor.Patch elements found

 version         = "~> 1.1.0"
 expected_version = "10.7"

any feedback?

[2019-08-08 08:04] cyrilgdn commented on #30
@basyar02 What's the result of ```SELECT version();``` query on your RDS instance ?

[2019-08-09 07:22] basyar02 commented on #30
This :

PostgreSQL 10.7 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.9.3, 64-bit

[2019-08-09 09:52] cyrilgdn commented on #30
@basyar02 Actually it's your `expected_version` value (`10.7`) which does not have the good format.
The version is parsed by [semver.Parse](https://godoc.org/github.com/blang/semver#Parse) which expects a patch number too.
You can set:
[code]

[2019-08-09 16:33] tomelliff commented on #30
Except my linked PR switched to `ParseTolerant` a long time ago so that shouldn't be an issue now.

[2019-08-09 16:43] basyar02 commented on #30
I have tested using the "10.7.0" and it still error :
"
Error: Error initializing PostgreSQL client: error detecting capabilities: error PostgreSQL version:..."

[2019-08-12 00:07] glerma commented on #85
I would like to see support for granting 'execute' on functions.

[2019-08-14 11:52] lsowen commented on #85
@glerma are there any plans (or interest) in being able to specify grants for specific tables/sequences?  For example, RoleA is read-only on all tables in the schema, except it should have INSERT on Table1.

[2019-08-22 14:57] outime commented on #81
Also happens on my setup:

[code]

With 4 user + 4 user grants.

[2019-08-23 08:46] velatorio opened #92 "How to grant permissions on all tables with Terraform?"
Let's say I have a database called `db` and an user called `app` that has full permissions for all the tables in such database (`profiles`, `city`, etc). Now, using this provider, I create a new user (e.g. `app2`) and grant this user permissions so that it can use the `db` database:

[code]

Unfortunately, this won't give permissions for the tables in `db` and therefore the new user won't be able

[2019-08-23 09:08] basyar02 commented on #30
Any update on this?

[2019-08-30 04:23] josegonzalez commented on #2
For the Postgres provider, could we possibly set the version in the provider to override the version lookup? I assume that would mean BadThingsForInvalidVersion™, but it would allow for folks who know the version ahead of time to do the right thing vs force partial applications.

[2019-09-01 10:44] Hjdskes opened #94 "Add resource to create tablespaces"
Hi,

For a project we need the ability to create tablespaces. As far as we have found, there does not exist a resource yet that allows us to do this. Would you be open to accepting such a `postgresql_tablespace` resource? I'd be happy to write it myself, but I wanted to ensure you would accept this before I set off on doing this.

The idea is that this resource would run `CREATE TABLESPACE ... OWN

[2019-09-04 14:18] alephyud commented on #85
One more use case for a more generic `postgresql_grant` related to AWS RDS: it appears that due to [rds superuser role limitations](https://www.2ndquadrant.com/en/blog/the-rds_superuser-role-isnt-that-super/), a superuser cannot grant privileges on tables that are owned by other users.

Thus, to enable one user (call it `readonly_user`) to access tables in a schema that is owned by another user (c

[2019-09-05 11:36] sixcorners commented on #84
no-readonly queries? Is that like select vs update statements with no returning clause?
maybe each row could be an element in a results array?

    value = "${data.postgresql_select_statement.tables.results[0]}"
I kind of forgot what my use case was. I guess I'll close this until I have one again.

[2019-09-05 11:36] #84 closed

[2019-09-09 18:55] NinoFloris opened #95 "postgresql_default_privileges for functions and types"
As shown here https://www.postgresql.org/docs/9.4/sql-alterdefaultprivileges.html

`postgresql_default_privileges` `object_type` should also be able to support `function` and `type`

[2019-09-09 19:04] NinoFloris opened #96 "SQL injection safe queries"
I expected each query here to be sql injection safe. Yes Terraform is usually used from a trusted context, but this doesn't mean each config variable is too. As it stands each query looks to be vulnerable.

example: https://github.com/terraform-providers/terraform-provider-postgresql/commit/7dccb185c75ff32cbabfea67b6adba4406b69976#diff-763c0b35a7889b804b094c50645c4860R212

[2019-09-10 10:37] cyrilgdn commented on #96
Hi @NinoFloris,

Thank you for raising this issue!

Maybe I'm wrong so I probably need to think about it again but I think this query is safe as we use `pq.QuoteIdentifier` on values that are filled by the user (`owner`, `schema`, `role`) which avoids SQL injection.

`object_type` and `privileges` are not protected but they have validation functions which check that provided value(s) are part of a

[2019-09-12 00:54] NinoFloris commented on #90
Any luck on progression here?

[2019-09-13 07:21] Hjdskes commented on #90
@NinoFloris See my pull request, #93 :)

[2019-09-19 18:14] robertvanhoesel commented on #85
+ 1 for this

[2019-09-25 01:09] j94305 commented on #42
@hatch-carl : The challenge here is that the remote endpoint of PostgreSQL (Amazon RDS) will only be created within the course of executing Terraform. At the time of starting "terraform plan", there is nothing. No VPC to tunnel into, no bastion host, no database. At the time of starting "terraform apply", there may also be nothing. The entire environment will only be created by Terraform.

So, in

[2019-09-25 08:45] cyrilgdn commented on #92
Hi @velatorio ,

Thanks for opening this issue and really sorry for response delay :(

I'm not sure to get your problem, why this won't give permissions for the tables in `db` ?  Normally this is the goal of this resource but maybe I miss something.

[2019-09-25 09:16] cyrilgdn commented on #96
@NinoFloris I close this issue but feel free to open it back and to comment if you disagree with my last comment.

[2019-09-25 09:16] #96 closed

[2019-09-25 09:33] cyrilgdn commented on #94
Hi @Hjdskes ,

No problem if you want to create this new resource, I'd be happy to review and merge your PR :+1:

[2019-09-25 14:53] zytek opened #98 "Please release new version with latest fixes."
I kindly ask maintainers to release a new version of this provider, as we are waiting eagerly to make use of recent grant related fixes.

Sorry to bother you via github issue but I didn't see a better way.

[2019-09-26 07:57] cyrilgdn commented on #98
Hi @zytek ,

I'll ask for a new release today and let you know here when it's done.

[2019-10-02 19:07] drpebcak commented on #2
This issue has been open since 2016 if you look back past the migration.. is this not considered a major issue with the provider? Not being able to create the db and then manage it is a huge problem (and by the way, the mysql provider does not have this issue).

[2019-10-02 20:51] tburow commented on #2
I've ceased even trying to use this provider - in its current form its more or less useless.  I know thats probably not very constructive but we have defaulted back to sql scripts and null resources.....

[2019-10-03 12:29] cyrilgdn commented on #98
Hi, sorry for the delay but v1.2.0 has been released last week.

[2019-10-03 12:29] #98 closed

[2019-10-07 08:41] navi86 opened #101 "postgresql drop schema"
Hi there,
I am trying to destroy postgresql resource when schema contains depended resources.

terraform version v0.12.6

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_schema

### Expected Behavior
Resource "postgresql_schema" has option "cascade" for deleting depended resources.

### Actual Behavior
Operation failed due to the fact that schema has depende

[2019-10-12 07:08] mavogel commented on #28
As mentioned: duplicate of #2  and closing due to inactivity.

[2019-10-12 07:08] #28 closed

[2019-10-14 07:43] cyrilgdn commented on #2
@drpebcak I have an idea on how to fix that (or at least a patch I want to try).

I'll try to do it as soon as I can but I haven't so much time currently.

[2019-10-18 20:45] jwilges commented on #2
@cyrilgdn is your fix still tied to the issue mentioned by @axmetishe (quoted below)?

Is it feasible to just delay the version check until the `apply` stage? Or, are you proposing a different way to work through this issue?

Failing early during the `plan` stage seems like a "nice to have" _at most_ considering the responses here indicate users who already have an endpoint running will still hit

[2019-10-30 23:51] mahsoud commented on #88
We've encountered this issue when the a database resource had count = 0, definition was applied. At later time, we have removed the database resource from definition files, (other resources remained postgresql resources remained unchanged) and exprerienced above mentioned error at apply. Interestingly, returning the resource definition with count = 0 resolved the apply error.

Looking at out state

[2019-11-01 14:56] cyrilgdn commented on #101
Hi @navi86 ,

Thanks for opening this issue.

Yes I think we can implement a `DROP CASCADE` option but it should probably be disabled by default (as it's very dangerous operation :) )

[2019-11-04 09:29] cyrilgdn commented on #90
Closed by #93 and released last Friday in v1.3.0

Thanks @Hjdskes @dhermes and @navi86 for your work / research!

[2019-11-04 09:29] #90 closed

[2019-11-04 19:22] dhermes commented on #90
:tada:

[2019-11-12 05:43] axmetishe commented on #2
@jwilges
I know that there are should be a better options but for now I've ended up with dirty hack which allow me to provide all configuration within single module. Will leave it here:
[code]

[2019-11-19 00:17] solarmosaic-kflorence opened #102 "Unable to create database and database schema in one terraform apply"
### Terraform Version
Terraform v0.12.15
+ provider.aws v2.23.0
+ provider.postgresql v1.3.0
+ provider.random v2.2.1

### Affected Resource(s)
The provider itself.

### Terraform Configuration Files

[code]

### Debug Output
[code]

### Expected Behavior
There should be a way to create and provision a database in the same `terraform apply`.

### Actual Behavior
Because the database used by the se

[2019-11-19 00:53] solarmosaic-kflorence commented on #102
It appears that roles are global across the instance, so in this specific case I can just do everything with one provider. However, this problem will still occur if for example I want to create a specific schema and provision against it.

[2019-11-19 01:34] solarmosaic-kflorence commented on #85
Is it possible to revoke the ability for a read-only user to create database tables in the `public` schema?

[2019-11-19 01:55] solarmosaic-kflorence commented on #72
FYI this also happens on `postgresql_grant`:

[code]

[2019-11-19 09:22] TamasNeumer commented on #92
Hi @cyrilgdn

I have a similar problem. Let's say I have users: `admin`, `app`, and `dev`.
I have also defined a role `crud_role`. Now the `admin` and `app` users both belong to this `crud_role`, meaning that both will have read/write access to each others tables.

However I want the `dev` only to be able to read (i.e. `SELECT`) on the tables on which `admin` and `app` operate.

In order to achiev

[2019-11-22 22:32] AlexanderMann commented on #81
[code]

Can confirm over here that the same issue is happening. We just crossed the magic threshold of 4 grants.

In killing the process I get some additional information which may be of use:

[code]

Given the nature of this, I'd expect the issue to lay in [here](https://github.com/terraform-providers/terraform-provider-postgresql/blob/6c204ee26f9eb4af5a077b8c541df12d5e43bf5d/postgresql/resource_

[2019-11-22 22:39] AlexanderMann commented on #81
# To whomever stumbles in here: A temporary workaround

This bug can be temporarily sidestepped by increasing the number of `max_connections` to the number of `postgresql_grant` resources you have.

In my case, I had 9, so my `max_connections` in the `provider` ONLY WORKED once set to _at least_ 9.

[2019-11-28 12:28] J0zi commented on #42
Any update here? Thank you.

[2019-11-28 13:40] j94305 commented on #42
Not as far as I know... It's been quiet and there were no announcements into this direction. I'm still fiddling with workarounds.

[2019-12-04 01:20] hashibot[bot] opened #104 "Remote state postgresql - Skip table/index creation for users which do not have such privileges"
_This issue was originally opened by @arielromeo as hashicorp/terraform#23553. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version
Terraform v0.12.16

### Use-cases
Sometime, people executing terraform do not have privileges in postgresql

[2019-12-08 13:30] arielromeo commented on #104
This issue was automatically migrated from terraform repo, but this is not related to postgresql provider itself, instead it is an improvement proposal for PG remote state backend.
Thanks.-

[2019-12-09 06:38] adharmawan commented on #30
Faced this issue today, I deleted the `.terraform` folder and re-run terraform init. After I did that, somehow I no longer face this issue

[2019-12-09 15:02] KursLabIgor commented on #85
for me it's really pain in ass for providing read only access for AWS RDS.
trying solve it via null_resource and running manual scripts

[2019-12-10 11:26] jtownson commented on #101
Adding my vote.
This feature would support the following very common use-case:
* terraform creates initial schema
* flyway creates tables and app runs for a time
* terraform destroys schema (including the tables).
Currently this scenario does not work. The drop schema fails because there are tables referencing that schema.

[2019-12-10 20:41] voltechs commented on #42
There is a preliminary draft that has been opened by @dominik-lekse at https://github.com/terraform-providers/terraform-provider-postgresql/pull/80

It looks like some progress has stalled. He does state that he's willing to open up write access for those interested in contributing, however, he doesn't state what the limitations he's experiencing are. I'm not particularly knowledgeable of Go, but

[2019-12-16 10:34] leahneukirchen opened #106 "Authentication failure with Aurora PostgreSQL"
### Terraform Version

[code]

### Affected Resource(s)

- provider "postgresql"

### Terraform Configuration Files
[code]

### Debug Output

[code]

### Expected Behavior

Terraform should connect to the DB server and plan to create the database.

### Actual Behavior

[code]

### Steps to Reproduce

1. `terraform apply`

### Important Factoids

The server is a SSH-forwarded Aurora PostgreSQL:

[c

[2019-12-16 10:41] leahneukirchen commented on #106
This seems to be due to the `alias =`, which probably doesn't make it the default provider even if there is only one provider... if this is by intention, then WONTFIX.

[2019-12-16 18:01] elliottyates commented on #106
I'm seeing something similar to this with terraform 0.12.8 and provider.postgresql 1.2.0 or 1.3.0. I use AWS RDS as the backend. Terraform apply works fine; terraform import fails with the message reported by @leahneukirchen. Perhaps, if this is deemed something that won't be fixed, it could be helpful to give more information about how to debug the issue (i.e. if it's a user/client config issue,

[2019-12-18 04:52] ausfestivus opened #107 "existing role kills database seeding"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
11.14

### Affected Resource(s)
- `postgresql_role`

### Terraform Configuration Files
[code]

### Debug Output
2019-12-18T04:25:39.5761886Z 	* p

[2019-12-20 11:05] cyrilgdn commented on #2
Hi all,

Thanks to @vboginskey patch in https://github.com/terraform-providers/terraform-provider-postgresql/pull/103, there's now a simple workaround for this problem.

You can specify the `expected_version` attribute in your provider configuration with the engine version.

i.e.:
[code]

The provide will not try to detect the version and you'll be able to plan/apply both resources at the same tim

[2019-12-20 14:39] cyrilgdn commented on #106
@leahneukirchen Indeed, you need to specify ``provider = "postgresql.rds"`` if you set this alias on your provider. You have no default provider defined in your example.

@elliottyates For import Terraform does not currently read the provider from the configuration so you need to specify which provider to use to import your resource.
If I take @leahneukirchen resource as example, you'll need to do

[2019-12-20 14:39] #106 closed

[2019-12-20 14:54] cyrilgdn commented on #91
Hi @stevecookform3 , thanks for opening this issue.

We could fix the version detection but the problem is that we need a "Postgresql" version to determine which features are enabled or not (see https://github.com/terraform-providers/terraform-provider-postgresql/blob/master/postgresql/config.go#L42-L73)

I don't know CockroachDB at all yet, is there some kind of compatibility mapping ? (Like vers

[2019-12-20 16:01] elliottyates commented on #106
Thank you @cyrilgdn and @leahneukirchen.

[2019-12-20 16:19] cyrilgdn commented on #101
I created a PR for that #108 , reviews are welcomed !

[2019-12-20 16:49] cyrilgdn commented on #107
Hi @ausfestivus , thanks for opening this issue,

I have some questions because I'm not sure to get everything.

* What's the link between #2 and the fact you can't create the role with Terraform? (BTW there's now a little workaround for #2, see my last comment inside it)
* When and by who the role is actually created?

[2019-12-20 17:02] cyrilgdn commented on #92
@TamasNeumer `postgresql_grant` apply privileges only on existing objects, because this is how `GRANT` works in Postgres.

I think what you want to set is [default privileges](https://www.postgresql.org/docs/current/sql-dropschema.html) which allow to define privileges that will be applied on newly created objects.

For that you can use the [postgresql_default_privileges resource](https://www.terr

[2019-12-20 17:03] cyrilgdn commented on #92
@velatorio I close this issue as I think you are in the same case than @TamasNeumer , but feel free to open it back if it's not the case.

[2019-12-20 17:03] #92 closed

[2019-12-21 09:56] navi86 commented on #101
@cyrilgdn,
big thanks for your work

[2019-12-23 14:15] #101 closed

[2019-12-23 21:29] ausfestivus commented on #107
Morning @cyrilgdn

* The link with #2 is that I would like to take the role creation out of the app stack TF and do it in the TF for the database layer. #2 (now worked around) lets me move the DB and role creation TF back into the DB layer TF.
* The role was being created in the app layer TF because of #2. The app layer TF is idempotent so in development/testing I would regularly destroy the app l

[2019-12-23 21:29] #107 closed

[2019-12-26 20:25] cyrilgdn commented on #101
FYI, this feature has been released  in [v1.4.0](https://github.com/terraform-providers/terraform-provider-postgresql/releases/tag/v1.4.0) 2 days ago :+1:

[2019-12-26 20:29] cyrilgdn commented on #2
FYI, @vboginskey 's patch has been released  in [v1.4.0](https://github.com/terraform-providers/terraform-provider-postgresql/releases/tag/v1.4.0) 2 days ago !

[2019-12-31 16:13] taspotts commented on #102
PostgreSQL: Unable to create a schema in a specific database #5

[2020-01-06 22:14] romeara opened #109 "Allow Specification of PostgreSQL Instance/Connection as Resource"
### Terraform Version

The problem/obstacle this seeks to address has been reproduced as of Terraform 0.12.12

### Problem

I have attempting to create a Terraform setup that both creates/provisions a PostgreSQL instance, and then applies setup (such as creating a database and roles) to that instance. During these attempts, I have run into the problem described in many areas, including Terraform i

[2020-01-07 08:35] cyrilgdn commented on #109
Hi @romeara ,

Thanks for opening this issue. I allow myself to close it as it seems to be linked to #2 .

There's now a workaround for this problem as you can read in [my comment](https://github.com/terraform-providers/terraform-provider-postgresql/issues/2#issuecomment-567887609) in the aforementioned PR. You can specify the [`expected_version`](https://www.terraform.io/docs/providers/postgresql

[2020-01-07 08:35] #109 closed

[2020-01-07 15:25] romeara commented on #109
Oh, I didn't realize that the connection was just to find the version - that helps, thank you! I'm not sure if that will resolve such issues during the apply step, however - I will try that workaround and report back. (`plan` was simply the first step I could not get past to even try `apply`, so I am unsure as to its behavior)

Thanks for the quick reply/guidance!

[2020-01-07 16:17] cyrilgdn commented on #109
@romeara Should work with apply too. I tested it (but with a simple configuration) and was able to create RDS instance and Postgres database in the same `apply`.

`apply` actually starts by a `plan`, then when the Postgresql resource is really applied, the RDS instance is already created (with proper dependency between both of course).

Let me know if it's not the case!

[2020-01-07 22:13] romeara commented on #109
Appears to be working with apply as well - now I'm just debugging connection issues, but terraform is at least attempting the connection at what seems to be the correct step in the sequence.

Thanks!

[2020-01-08 10:03] alexburlton-sonocent opened #110 "Feature Request: Integrate with Cloud SQL Proxy"
### Description

It would be great to be able to configure a Postgres instance hosted in GCloud, where access can only be granted using the [Cloud SQL Proxy](https://cloud.google.com/sql/docs/postgres/sql-proxy). Something like this was raised with the google provider already, but was closed (rightly) as it would need to be implemented in this provider instead. In particular, see this comment: htt

[2020-01-09 12:28] gongjunhuang opened #111 "Geo redundancy not supported in Azure Gov environment"
### Terraform Version
[code]

### Affected Resource(s)
- **azure postgre sql server**

### Terraform Configuration Files
[code]

### Debug Output

### Panic Output
[code]

### Expected Behavior
postgre sql server enable geo redundancy

### Actual Behavior
Not supported

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform apply`

### Important Fa

[2020-01-09 14:58] cyrilgdn commented on #111
Hi @gongjunhuang ,

I think you wanted to open this issue in [terraform-provider-azurerm provider](https://github.com/terraform-providers/terraform-provider-azurerm) as it's where this resource managed.

So I allow myself to close this issue :)

[2020-01-09 14:58] #111 closed

[2020-01-10 14:11] navi86 commented on #102
you can with this pr:
https://github.com/terraform-providers/terraform-provider-postgresql/pull/100

[2020-01-10 19:11] solarmosaic-kflorence commented on #102
I haven't tested it yet, but @navi86 it looks like #100 should resolve this in version https://github.com/terraform-providers/terraform-provider-postgresql/releases/tag/v1.4.0. Thanks!

[2020-01-10 19:11] #102 closed

[2020-01-10 21:01] elliottyates commented on #106
@cyrilgdn, would you actually be able to give further details? My situation is that I'm trying to import something in a module unrelated to my (module-scoped) postgresql provider, but it fails each time, telling me I have an authentication or version error (I find the wording a bit unclear):

[code]

(where user X is the correct name I give to the `provider` block in that db-specific module)

The

[2020-01-14 07:10] romeara opened #112 "Support Database-Level Configuration Values In Resource Specification"
### Version(s)

At time of request, provider version 1.4.0 was being used with Terraform 0.12.12

### Desired Behavior

When configuring a PotsgreSQL database, it is possible to use [ALTER DATABASE](https://www.postgresql.org/docs/9.6/sql-alterdatabase.html) to set specific configuration parameters within it. It would help streamline automation in our setups if these configuration settings (or at

[2020-01-27 10:20] cyrilgdn commented on #106
@elliottyates Not sure to get what you're trying to do :thinking:

Could you create a new issue with, if possible, a (non) working example ?
(I prefer not discuss too much in a closed PR as I may forgot it if I can't answer directly :sweat_smile: )

[2020-01-29 11:49] bharathnoddy opened #116 "looks like a bug in postgresql_grant"
Hi there,
  I want to create a readonly user in AWS postgres RDS  and here is the code for that
[code]

It works fine it created the user and grants the permission on table , but it does not grants USAGE permission on the schema because of which the user cannot see any table.

Is this some bug or I am doing something wrong ?

I am using tf version 0.12.18

[2020-01-29 16:45] kerma opened #117 "Data resource for retrieving provider config"
### Terraform Version
Terraform v0.12.20
+ provider.postgresql v1.4.0

### Expected Behavior
There is a data source one could use to get provider configuration details.

### Actual Behavior
There is no data resource to get provider configuration details.

### Important Factoids
While developing a re-usable module I need to get access to the provider configuration, namely host and port values. Atm

[2020-02-02 22:48] mdgreenwald commented on #85
@solarmosaic-kflorence Did you get the public schema altered so that a read-only role couldn't create tables in it?

[2020-02-03 13:55] tgermain commented on #85
@cyrilgdn I will try to work on adding support for databases in grants.
My use case is narrow for now : being able to grant CREATE on a given database.

(1) Would you advice to keep a single terraform resource for grants (`postgresql_grant `)
or
(2) would it be simpler to split the code in different resource (`postgresql_grant_schema`, `postgresql_grant_database` and so on) ?

Having different res

[2020-02-03 16:41] cyrilgdn commented on #85
@tgermain Many thanks in advance :pray:

I had in mind to have one resource for all types (it already manages tables&sequences), there's already a "[allowed privileges per resource map](https://github.com/terraform-providers/terraform-provider-postgresql/blob/master/postgresql/helpers.go#L123-L126)" than can be completed with new types (note that there's a [bug with the ``ALL `` one](https://githu

[2020-02-03 21:05] solarmosaic-kflorence commented on #85
@mdgreenwald I found out that this is actually default behavior for the `public` schema in Postgres:

Ref: https://www.postgresql.org/docs/9.1/ddl-schemas.html

This can be revoked with `REVOKE CREATE ON SCHEMA public FROM PUBLIC;` -- but I'm not sure how to do that with this provider, so as a workaround you can just create a separate schema to use which gives you full control over the privileges.

[2020-02-10 13:16] galindro commented on #29
hi @cyrilgdn . Is there any plans to include this feature on the next release? I really need this feature...

[2020-02-10 15:34] cyrilgdn commented on #117
Hi @kerma ,

Correct me if I'm wrong or if I misunderstood something but the provider configuration is not stored in the state so there's is no chance to have a data source for that. (And you can even change provider settings  but use the same Terraform state, there are not linked at all)

Not sure to get your use case, when creating the module, you don't need to pass the provider and you could (s

[2020-02-10 15:34] #117 closed

[2020-02-10 16:31] cyrilgdn commented on #116
Hi @bharathnoddy ,

You need to specify the permissions for the schema too.
For now, permissions for schema have to be declare in the [`postgresql_schema` resource](https://www.terraform.io/docs/providers/postgresql/r/postgresql_schema.html) (with the policy block):

e.g.:
[code]
We plan to make it possible via the `postgresql_grant` resource too.

I close this issue but feel free to open it back

[2020-02-10 16:31] #116 closed

[2020-02-10 17:36] cyrilgdn commented on #104
@arielromeo So I allow myself to close this issue. Did you open it back on Terraform?

[2020-02-10 17:36] #104 closed

[2020-02-12 10:22] kerma commented on #117
@cyrilgdn My use case is pretty much as I described. Think about a more complex module which takes care of many different things besides just Postgresql setup. For example:

1. I create a database, roles and all related configurations
2. I provision kubernetes resources
3. I set up AWS ALB

Let say I want to write down the database host name to the kubernetes configuration map. It would be nice to

[2020-02-14 23:44] sterlingdeng commented on #110
Agree. I've ran into the same issue but will most likely solve this with #1 which you listed above (doing it manually).

[2020-02-20 10:32] galindro commented on #36
The proposed workaround didn't solved my problem

[2020-02-22 01:08] gmattar commented on #36
Got the same problem today. The workaround didn't work for me too.

[2020-02-23 09:59] mythus opened #120 "Temporary permissions conflict with IAM authentication"
I use terraform postgresql provider to create roles that have rds_iam role and assign these roles to separate postgres databases. After https://github.com/terraform-providers/terraform-provider-postgresql/pull/71 was merged the provider temporary assign rds_iam roles to the user managing the connection.  This invalidates the consequent login attempts with username/password and the state apply fail

[2020-02-24 01:43] ausfestivus opened #121 "terraform destroy fails because it is unable to drop an extension"
### Terraform Version

v0.12.20

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_schema
- postgresql_extension

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/ausfestivus/6512bc147daf61259cdd5cf75789a8ab

### Panic Output

No panic.

### Expected Behavior
Database and Database server should have been destroyed.

### Actual

[2020-02-24 16:29] elliottyates commented on #106
Thanks @cyrilgdn -- apologize for the delay, and for continuing the thread in a closed issue. The next time I bump into this I'll try to do a better job of isolating it! I'm not great at debugging tf internals, go, or getting all that's going on here; wish I could do a better job explaining. Next time I'll dig in more, and open a new ticket if I can. Cheers.

[2020-02-25 12:23] tomelliff commented on #86
https://www.terraform.io/docs/providers/aws/r/iam_user_login_profile.html and https://www.terraform.io/docs/providers/aws/r/iam_access_key.html also allow for this.

[2020-02-25 12:25] tomelliff commented on #37
Why is the database creation dependent on the ECS service? That feels like the wrong way round to me. Surely the ECS service wants the database to be created first so that it can use it?

Changing the dependency around would automatically fix this as Terraform would know that it needs to destroy the ECS service first (freeing connections to the database) before destroying the database.

[2020-02-25 22:11] tthayer commented on #36
I had to perform an apply to update the role and then the destroy worked.

[2020-03-02 10:13] ringods commented on #47
So far, I learned a few things from Azure PostgreSQL servers:

1. You are not connecting directly to the DB server, but you are connecting to a gateway which is in front of *all* managed DB servers. See the [Connectivity architecture](https://docs.microsoft.com/en-us/azure/postgresql/concepts-connectivity-architecture) for more info.
2. You need to create [Azure DB firewall rules](https://docs.mic

[2020-03-09 01:46] fprimex commented on #121
👋 HashiCorp support engineer here. I was asked to look into this problem and the following is my take on it. If I have missed anything or can offer any assistance on tracking down a better solution / workaround (than two-stage delete or more resources) just let me know.

---

I've worked with the configuration some more and have determined that a single destroy operation here can't be handled in T

[2020-03-09 14:46] jeromepin commented on #85
@cyrilgdn I did some work on #123 based on @tgermain's comment. I hope it will fit with your standards.

[2020-03-10 06:39] miketwenty1 opened #124 "Postgres Compatibility Issue with 11.6"
Hi there,

What am I doing wrong, I keep getting a compatibility issue

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.
`v0.12.20`

### Affected Resource(s)
provider "postgresql"
resource "postgresql_database"

### Expected Behavior
create DB

### Actual Behavior
Err

[2020-03-10 14:52] miketwenty1 commented on #124
Taking out the alias made it work. It's unclear why this would fix the issue. Will leave this open for a while to see if anyone can chime in.

[2020-03-11 13:46] cyrilgdn commented on #85
@jeromepin Thanks a lot, I'll take a look as soon as I can :+1:

[2020-03-12 15:59] cyrilgdn commented on #37
@boskiv I allow myself  to close this issue based on @tomelliff 's comment (thanks @tomelliff for your help).

Feel free to open it back if we missed something.

[2020-03-12 15:59] #37 closed

[2020-03-23 14:07] stevecookform3 commented on #91
being able to override this with expected_version sounds like a good workaround for now.

[2020-03-25 08:28] andyyaldoo opened #125 "Unable to set max_connections to zero"
### Terraform Version
[code]

### Affected Resource(s)
- provider.postgresql

### Terraform Configuration Files
[code]

### Expected Behavior

Based on the documentation [here](https://www.terraform.io/docs/providers/postgresql/index.html#max_connections), it says that setting the `max_connections` to 0 will, set the maximum connections for the db to unlimited.

### Actual Behavior
Plan shows erro

[2020-04-04 17:53] jonasneves commented on #77
I'm having the same issue. I'm trying to delete some postgres users and terraform doesn't let me because it tries to read the user password. I don't even care about the user password since they all use RDS_IAM authentication.

This is still an issue, why was this closed?

[2020-04-04 19:32] slocke716 commented on #36
I've created a pull request to fix this. Please take a look when you get a chance.

[2020-04-04 22:43] cyrilgdn commented on #125
Hi @andyyaldoo ,

Thank you for reporting this.

Not at all, I'll change the validation of this field to allow 0

[2020-04-04 23:07] cyrilgdn commented on #125
@andyyaldoo I created the PR #128 for that, if you have a bit of time to quickly review it so I can merge it, it would be helpful.
Thanks a lot.

[2020-04-04 23:55] cyrilgdn commented on #91
Thanks for your answer. I close this issue for now.
(I'll try to test CockroachDB anyway one day if I find time and courage :smile: )

[2020-04-04 23:55] #91 closed

[2020-04-05 16:58] #49 closed

[2020-04-06 09:28] andyyaldoo commented on #125
done

[2020-04-06 13:21] #125 closed

[2020-04-06 13:30] cyrilgdn commented on #77
@jonasneves Did you set the [``superuser`` settings](https://www.terraform.io/docs/providers/postgresql/index.html#superuser) to ``false`` in your provider configuration?

[2020-04-12 18:00] jonasneves commented on #77
Yes, if I set it to false I get " permission denied to reassign objects".
I am able to delete the same user if I login via pgAdmin using the same credentials that the terraform provider is using though.

[2020-04-16 12:36] OscartGiles opened #130 "postgresql_default_privileges grantRoleMembership fails when username != role"
### Terraform Version
Terraform v0.12.24

+ provider.azuread v0.8.0
+ provider.azurerm v1.44.0
+ provider.external v1.2.0
+ provider.postgresql v1.5.0
+ provider.random v2.2.1
+ provider.template v2.1.2

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_default_privileges
- postgresql

### Expected Behavior
When running :
[code]
where `db_owner` is the role of

[2020-04-22 08:12] der-eismann commented on #81
Another workaround we found is using the `terraform plan -parallelism=3` option if you want to keep your connections low.

[2020-04-22 14:24] skadem07 opened #131 "pq: no PostgreSQL user name specified in startup packet"
Hi I’m importing a resource but it’s failing. I’m not sure what the issue is. Can someone point me how to fix this error.

I tried by setting sslmode = "require", got the same error. my ssl is on in database and `force.ssl = off`

terraform -version
[code]
My module: locals.tf:

[code]
Provider

[code]
module:

[code]
Root-Module:

[code]

ERROR:
[code]

[2020-04-23 09:52] cyrilgdn commented on #131
Hi @skadem07 ,

``terraform import`` is not able to read the specified provider in the resource, so when you import a resource which uses an aliased provider, you need to specify with:
[code]
cf https://github.com/hashicorp/terraform/issues/17139

I close the issue but feel free to open it back if I misunderstood the problem and didn't answer your question.

[2020-04-23 09:52] #131 closed

[2020-04-28 19:52] FourSigma opened #133 "Allow to configure `log_statement` for a role."
Hello!

    Thank you for maintaining this provider repository.   I add the `log_statement` setting to the role resource.  This allows for role specific log levels of SQL statements.  Since this is my first contribution to this code base, please let me know if there is anything else that I need to do to get this feature merged into master.

#132

Thank You!

[2020-05-04 15:35] brandonpalmer commented on #133
Hi @cyrilgdn -- what is the process for getting things like this approved and merged in?  We have a bunch of additions we would love to add back into this provider.

Thanks!

[2020-05-05 20:08] ryan-dyer-sp opened #136 "tf destroy fails when nothing to destroy"
### Use case
As part of our tf testing infrastructure we initiate a terraform destroy to ensure any residual resources from previous runs are gone.  This does not seem to work properly with the postgresql module.  This may be related to the fact the provider section for our module obtains the info/credentials via ssm as a data source.

### Terraform Version
terraform -v
Terraform v0.12.20
+ provid

[2020-05-06 06:48] andyyaldoo opened #137 "Can we add cascade = true/false in postgresql_extension?"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_extension

### Terraform Configuration Files
[code]

[2020-05-06 08:16] cyrilgdn commented on #136
Hi,

Thanks for opening this issue.

This is a known bug,  we'll work on it but it needs important modifications.
Meanwhile, a workaround is to set the [`expected_version`](https://www.terraform.io/docs/providers/postgresql/index.html#expected_version) setting in the provider  block to your server version. Thanks to that it will not try to detect the version and will not fail.

[2020-05-09 06:36] minhajuddin commented on #77
For future readers, I was able to work around this issue by changing the state directly and manually removing the role from RDS.

[code]

[code]

[2020-05-09 21:46] minhajuddin commented on #42
I blogged about the workaround mentioned here in detail: https://minhajuddin.com/2020/05/09/how-to-use-a-single-aurora-cluster-for-multiple-databases-each-with-its-own-restricted-user/#Connecting-to-an-RDS-database-via-an-SSH-tunnel . This requires you to have an SSH tunnel open while terraform runs a plan or apply.

[2020-05-09 21:48] minhajuddin commented on #36
I had to manually remove the role from RDS and then clean up the state using `terraform state rm postgresql_role.my_role`

[2020-05-12 12:20] voltechs commented on #42
Thanks for the blog post. This of course requires the existence of the Bastion host, making dependencies tricky. One cannot stand up a given infrastructure in one go, let alone without prior knowledge or additional tooling to complete the infrastructure application. :(

[2020-05-14 17:34] stack72 opened #138 "v1.6.0 release"
Hi

Please can v1.6.0 of the provider be released? It would be great to be able to get the provider working with the clientcerts

Thanks

paul

[2020-05-16 12:28] viesti commented on #36
I had initially created the role without `skip_reassign_owned = true` and had to run apply to set the attribute, like tthayer [mentioned](https://github.com/terraform-providers/terraform-provider-postgresql/issues/36#issuecomment-591096937), and then the destroy worked.

[2020-05-18 08:07] cyrilgdn commented on #138
Hi,

Yes sorry for the delay, I wanted to integrate an important patch in this release but didn't take enough time to work on it...

I will prepare and ask for a release by the end of the week, so at the latest v1.6.0 will be released next Monday.

I'll keep you posted here when it's released.

[2020-05-25 12:10] cyrilgdn commented on #138
Hi,

Version 1.6.0 has been released last Friday.

[2020-05-25 12:10] #138 closed

[2020-05-25 12:14] stack72 commented on #138
Thanks so much!

[2020-05-26 04:21] estahn opened #140 "PostgreSQL provider is not using lazy connections"
### Terraform Version
[code]

### Affected Resource(s)
- provider.postgres

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Running an import action (or any action for that matter) which is not touching posgres resources should not trigger the initialisation of the postgres provider.

Example:
[code]

### Actual Behavior
The postgres provider tries to conne

[2020-05-26 16:55] siwon opened #141 "Grant pg_read_server_files without superuser"
Hi,

I get an error when I try to add a user to the group role `pg_read_server_files` without superuser access.
When I run the command `GRANT "username" TO pg_read_server_files;` manually, there is no problem but when I use `postgresql_role` I have a permission denied error.
In both case I use the same user to connect to the database which is not superuser.

### Terraform Version
[code]

### Affec

[2020-05-27 21:15] jlewis42lines opened #142 "postgresql_role doesn't update passwords"
### Terraform Version
Terraform v0.12.9

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_role

### Terraform Configuration Files
[code]

### Expected Behavior
I expect terraform to change the postgresql user's password when it's updated in terraform, or when it's changed inadvertently by a postgres admin.

### Actual Behavior
Nothing.

### Steps to Reproduce

[2020-05-30 01:30] sgoley opened #143 "Feature request - allow provider variable assignment from postgres:// url (automatic parse)"
This is mostly a feature request but is there any reason that the postgres provider does not already allow the usage of a URI / URL instead of forcing the explicit assignment of these variables?

typical postgres uri:
`postgresql://[user[:password]@][netloc][:port][,...][/dbname]`

### Terraform Version
Terraform v0.12.25

### Affected Resource(s)
NA

### Terraform Configuration Files
[code]

###

[2020-05-31 13:06] cyrilgdn commented on #143
Hi @sgoley ,

Thanks for opening this feature request.

No reason I think, just nobody asked for it until now :)

I note this request and will let you know here when we can work on it.

[2020-06-08 19:10] jonasneves commented on #72
Do we have any updates on this issue? I'm using the version v1.6.0 and I still see the problem.

[2020-06-08 20:58] cyrilgdn commented on #142
Hi @jlewis42lines,

Thanks for opening this issue.

If you update the password in Terraform, it normally updates correctly the role password. Let me know if it's not the case.

If you change the password manually in database, Terraform will indeed not update it (on RDS).
We have no way to read the password value in RDS as user `postgres` is not a real superuser and does not have the permissions to

[2020-06-08 21:21] cyrilgdn commented on #141
Hi @siwon ,

Thanks for opening this issue.

I'm a bit surprised that Azure allows to grant `pg_read_server_files` role if admin user is not a superuser as it bypasses the database-level permissions but I never used Azure so I need to check this behavior.

But before that, could you just clarify one thing:

You said that, manually, you run:
[code]
But I guess you meant:
[code]

Because  this is a

[2020-06-08 21:32] cyrilgdn commented on #137
Hi @andyyaldoo ,

Thanks for opening this issue,

I think we can yes and, unless if I miss something, this should not be a big modification so we'll try to do if for the next release.

We'll let you know here when we'll work on it.

[2020-06-09 07:02] siwon commented on #141
Hi @cyrilgdn and thank you for your answer,

I was surprised too but the command `GRANT "username" TO pg_read_server_files;` was the command I ran. And it works !

I "discovered" this command by using pgAdmin after I add the user to the `pg_read_server_files` memberships and retrieve the "create script" of this group role.

![image](https://user-images.githubusercontent.com/1249874/84115248-08bc58

[2020-06-10 00:55] jlewis42lines commented on #142
Hi @cyrilgdn

Thanks for the response! Indeed you are correct. Terraform changes the password if updated in terraform, but will not update the password when changed by a postgres admin.

I suppose we might talk to Amazon about granting the RDS `postgres` user permission to read `pg_shadow`. Failing that, I suppose a boolean to force password changes on every apply would be helpful.

[2020-06-11 15:54] kinghuang opened #147 "Syntax error to creating roles/users on Redshift"
### Terraform Version

[code]

### Affected Resource(s)

- postgresql_role

### Terraform Configuration Files

[code]

### Debug Output

[code]

### Panic Output

N/A

### Expected Behavior

A new role is created.

### Actual Behavior

[code]

### Steps to Reproduce

1. Configure the `postgresql` provider to connect to a Redshift cluster.
2. Also in the provider config, set `expected_version = "8.

[2020-06-11 22:04] mltsy commented on #110
This would be super useful.  I thought about trying to set this up with a `local_exec` provisioner, but ... it seemed pretty messy to get it setup and torn down correctly for a config where I need to connect to and configure several separate postgres servers.

[2020-06-18 20:25] apolloclark opened #148 "Add Postgresql Table Data Source"
It would be helpful to enable HCL2 code to read from a Postgresql Table during a Terraform Run.

[2020-06-19 09:24] dmazhar-cogniance commented on #85
Hello, I'm lack the `USAGE` privilege for `SCHEMA` object type too :( My use case is creating RO users in AWS RDS, the same as @alephyud

[2020-06-24 15:29] mltsy commented on #142
Another potential option... which may or may not be practical/feasible:

The provider could (when `superuser = false`) actually try logging in as each specified user to ensure the password hasn't changed.  If the response indicates authentication failure, then it could update the user's password.

I don't know if that's any better than updating every user, but if the implementation for updating ev

[2020-07-01 13:48] realsby commented on #72
+1

[2020-07-01 13:57] benkeil commented on #120
Did you find a solution? Its basically not usable for ads aurora with IAM authentication.

[2020-07-01 14:33] BilelYahia opened #152 "provider initialization and dependencies have race condition when used with eauch other"
Hi there,

#Context
The provider initialization and dependencies with any other resource have race condition between each other when used togerther, no way to use depends_on to workaround it

### Terraform Version
Terraform v0.12.25

###Provider version
+ provider.aws v2.64.0
+ provider.helm v1.2.2
+ provider.kubernetes v1.11.2
+ provider.local v1.4.0
+ provider.null v2.1.2
+ provider.postgresql v

[2020-07-01 15:04] rodsoaresTD opened #153 "postgresql_role creation fails for database with SCRAM-SHA-256 encryption UNLESS provider is built from source"
Hi there,

I'm getting an `Error: pq: unknown authentication response: 10` when attempting to create a user role in a DB configured with SCRAM-SHA-256 password encryption. This issue does NOT happen for DBs configured with MD5.

I understand this should already be fixed thanks to #113 and #114 (included in v.1.5.0), but role creation only succeeds when I build the v.1.6.0 release from source and m

[2020-07-02 13:05] mikkoc opened #154 "Ability to grant role membership to existing user"
Is there a way to grant role membership to an existing user that is not created by Terraform?

I cannot seem to find any.

To be clear, I'd like to run something like this:

`GRANT admins TO joe;`

via Terraform. But this resource: https://www.terraform.io/docs/providers/postgresql/r/postgresql_grant.html seems focused only on Databases.

The user in question is the RDS master user, which is creat

[2020-07-07 14:57] Vince-Chenal commented on #154
Hello,
I started to write something to support this but I don't really know if I chose the good way.

Can anyone have a look at this branch I have ?
The idea is to create a new resource "grant_role".

[add-grant-role-resource](https://github.com/terraform-providers/terraform-provider-postgresql/compare/master...ContentSquare:add-grant-role-resource)

It's not finished yet but I would prefer to gat

[2020-07-08 22:22] lcalvarez commented on #85
+1 for `GRANT USAGE ON SCHEMA`

[2020-07-09 00:11] bendrucker commented on #147
Redshift doesn't support `CREATE ROLE`, only `CREATE USER`:

https://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_USER.html

Whereas `CREATE USER` in Postgres is an alias for `CREATE ROLE WITH LOGIN`:

https://www.postgresql.org/docs/current/sql-createuser.html

Options here include making the query dependent on the Postgres version or perhaps allowing a user specified attribute to override the

[2020-07-09 08:15] cyrilgdn commented on #85
@dmazhar-cogniance @lcalvarez

We indeed need to implement grant on schema in `postgresql_grant` but it's currently possible to grant `USAGE` to roles directly in `postgresql_schema` with the [policy](https://www.terraform.io/docs/providers/postgresql/r/postgresql_schema.html#usage-1) blocks.
Something like:

[code]

Eventually I would like to deprecate this block in favor of `postgresql_grant` fo

[2020-07-09 16:59] lcalvarez commented on #85
@cyrilgdn yeah that's what I have right now. It works but it makes `terraform destroy` attempt to destroy the associated schema as well, which is not ideal. I have to do a few manual steps after running `destroy` and then manually remove tfstate in order to rollback.

[2020-07-16 14:44] dbodencnve commented on #72
+1

[2020-07-17 08:17] #36 closed

[2020-07-17 09:21] dploeger commented on #152
Workaround: Use the expected_version parameter to specify the PostgreSQL version you'll be deploying later.

[2020-07-17 15:04] seuf commented on #153
I have the same issue. I have to build my provider locally before use it..
Maybe an issue in the release process ?

[2020-07-17 18:26] cyrilgdn commented on #153
@rodsoaresTD @seuf

I was able to get a similar error but when the provider try to connect if the configured user in the provider (usually postgres) needs a SCRAM-SHA-256 authentication.

Upgrading the Postgres provider to 1.7.0 (which has been released today) solves this error. Could you try it and tell me if it solves it for you too?

Previous version of this provider were (mistakenly) built wit

[2020-07-20 07:20] seuf commented on #153
It works with terraform provider postgresql version 1.7.0 ! :+1:

[2020-07-20 07:53] cyrilgdn commented on #153
@seuf Thanks :+1: So I close this issue.

@rodsoaresTD Feel free to open it back if it still doesn't work for you.

[2020-07-20 07:53] #153 closed

[2020-07-20 14:19] seuf commented on #72
same issue with 1.7.0 version

[2020-07-20 17:14] mdespriee opened #157 "v1.7.0 breaks permission grants on RDS"
Our terraform scripts started failing just after your release of v1.7.0 of postgresql provider (we did not pin a version, that's now the case).
It seems to be related to AWS RDS context.

I can't produce a small reproducible case right now, sorry. But here are the main elements:

The resource that fails:
[code]

That resource is already existing, but terraform wants to update it nevertheless and f

[2020-07-21 11:14] cyrilgdn commented on #157
Hi @mdespriee ,

Thanks for opening this issue. I see what happens here,  we need to check how to fix that.
Meanwhile, there's a few possible workarounds.

You could (if it does not have other impact for you) alter the owner of the public schema to set it to `postgres`  (`alter schema public owner to postgres `) instead of `rdsadmin`.
Did you create this database with Terraform too?

When creating

[2020-07-21 14:06] smartpierre commented on #157
I can confirm that I have the same issue in 1.7.0 whereas 1.6.0 worked great. I just rolled back to 1.6.0 👍

[2020-07-22 17:32] blkt opened #159 "v1.7.0 Error: pq: column "prokind" does not exist"
### Terraform Version
Terraform v0.12.28
Postgres 10.12 (both dockerized and on AWS RDS)

### Affected Resource(s)
- `postgresql_grant`

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/blkt/38f2cb834a00490b97ffde8ac636097b

### Panic Output
The error did not result in a panic.

### Expected Behavior
Something like the following
[code]

### Actual Behavior
Error d

[2020-07-23 03:38] mltsy opened #160 "Provider is using up all PG connections and erroring out the plan"
### Terraform Version
Terraform v0.13.0-beta2
+ provider registry.terraform.io/terraform-providers/postgresql v1.6.0

### Affected Resource(s)
Various postgresql resources... usually gets stuck on a postgresql_role

### Terraform Configuration Files
This is the main roles module we use, which is instantiated for each database on each server (so about 15 times or so per plan/apply)
[code]

And then

[2020-07-23 18:15] jonasneves opened #161 "Bug: Execution does not match expected grants on v1.7.0"
# Terraform Version
Terraform v0.12.28
+ provider.postgresql v1.7.0

### Affected Resource(s)
- postgresql_grant

### Terraform Configuration Files
[code]

### Expected Behavior
Change privileges of the role that the _terraform plan_ indicates that needs to be changed.

Terraform plan:
[code]

### Actual Behavior
In the terraform output, the "Creating" message shows the correct action that should

[2020-07-23 19:56] robertvanhoesel commented on #29
@jmks is implementing granular grants on tables in https://github.com/terraform-providers/terraform-provider-postgresql/pull/156 👍

[2020-07-24 16:21] cyrilgdn commented on #161
@jonasneves Thanks for opening this issue.

We encountered the same problem (on role deletion) indeed and we'll create a bugfix release for that as soon as possible.

It matters yes, the provider tries to temporary grant the `randomuser` to the admin user (`master` in your case) but cannot as there's already the opposite membership (`master` is granted to `randomuser`)

[2020-07-27 19:20] hashibot[bot] opened #163 "terraform progresql create role"
_This issue was originally opened by @Mike-Hawkins as hashicorp/terraform#25683. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

default.tf
[code]

### Debug Output

### Crash Output

[Crash.log](ht

[2020-07-28 11:33] gwkunze opened #165 "Revoking public schema access not working as expected"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_schema

### Terraform Configuration Files
[code]

### Expected Behavior
I'd expect the `public` role not to have the (default) `usage` and `create` permissions on the `public` schema

### Actual Behavior
The `public` schema still allows any user (with the `public` role) to use and

[2020-07-28 12:30] gwkunze commented on #165
Just tested with both `role = "public"` and `role = ""` (since postgres seems to store ACLS for public as `""` but the same behaviour is shown for both

[2020-07-28 13:22] gwkunze commented on #165
Reading the code, I think there are two problem:

1. When creating a resource, it is only granting permissions, and the code does not seem to have any functionality related to revoking implicitly granted permissions
2. When refreshing the schema resource, while the code [reads and parses](https://github.com/terraform-providers/terraform-provider-postgresql/blob/master/postgresql/resource_postgresq

[2020-07-30 16:10] rodsoaresTD commented on #153
Hi @cyrilgdn,

Just wanted to confirm that upgrading to 1.7.0 solved it for me.

Thank you very much for solving the issue!

(thank you @seuf as well for adding to the discussion)

[2020-07-30 16:46] #157 closed

[2020-07-30 16:46] #161 closed

[2020-07-31 19:18] jonasneves opened #166 "Postgresql provider always triggers change when privileges = "ALL""
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_grant

### Terraform Configuration Files
[code]

### Expected Behavior
Since the grant was applied previously, I would be expecting the following output:
[code]

### Actual Behavior
It tries to apply the privileges again:
[code]

### Steps to Reproduce
1. `terraform apply`

[2020-08-04 14:45] planetjones commented on #166
We have the same issue when `object_type = database` and `privileges = ["ALL"]`

Without an existing state file it works fine.  But when there is an existing state file it tries to add ALL again. But this causes:

`REVOKE ALL PRIVILEGES ON DATABASE ....`

to be executed, which fails because there are dependent privileges.

The official documentation does not say this provider suppports "ALL".  If

[2020-08-05 11:23] jgersdorf commented on #94
Hi,

I've also been looking for this - but after reading https://forums.aws.amazon.com/thread.jspa?threadID=301582 don't need it any more. At least on AWS RDS, you should not create your own tablespaces. So a postgresql_tablespace resource is at least not needed here.

Regards

Jens

[2020-08-05 11:35] Hjdskes commented on #94
Can you elaborate? We are doing exactly this and it has been working fine for us for the roughly one and a half years we've been doing this.

[2020-08-06 20:40] dishbreak commented on #106
As an aside, you'll also get this failure if you're providing the password via dynamic confing. In my case, I was using `aws_kms_secrets` as a data source to retrieve the password. In order to import I had to paste in the plaintext password. My guess is that this is because Terraform doesn't do a full round of interpolation as part of the import process.

[2020-08-06 20:45] dishbreak commented on #2
Quick addition to future searchers. If you are setting an alias on your provider and forget to put the provider on a resource, you'll run into this problem. I fixed it by making sure that all resources had the `provider` named appropriately.

Why is this a problem? I took a look at debug logs, and I saw this behavior:

[code]

When I looked at the resource in question, I realized the `provider` bl

[2020-08-07 18:58] mltsy commented on #166
I've noticed this as well.

You can, of course, work around this by specifying all specific privileges you want to grant (INSERT, SELECT, UPDATE, DELETE, ...?) for now.  But I agree with @planetjones - should either be fixed or documented and made invalid.

[2020-08-12 08:35] blkt commented on #159
Hello, any news on this regard? Were there other issues related to this bug that you've been working on?

[2020-08-12 08:52] k911 commented on #154
We've also encountered this issue while trying to manage RDS db via postgres provider. RDS master user is created and managed by AWS. @Vince-Chenal personally, I really like the idea.

[2020-08-12 20:38] dmattia opened #168 "Allow granting default roles"
### Terraform Version
v0.12.26

### Affected Resource(s)
- postgresql_grant

### Description

Newer versions of postgresql support Default Roles: https://www.postgresql.org/docs/10/default-roles.html

I would like to be able to use `postgresql_grant` resources to grant access such as in the statement: `grant pg_monitor to datadog;`

[2020-08-12 20:51] quixoticotech commented on #47
@hypnoglow 's solution worked for me in AWS Aurora RDS. For some reason the Alias was causing issues.

[2020-08-17 11:36] kostyrev commented on #124
I'm having the same problem.
with alias I get
[code]
[code]
[code]
It's
[code]
I've tried different provider.postgresql versions starting from 1.5.0

Only removing `alias` resolves the problem.
I'm running this code against `10.7` AWS RDS.
Specifying `expected_version` does not help either.

[2020-08-17 23:39] drpebcak commented on #168
This would be useful for me too.

[2020-08-19 18:39] Mike-Hawkins commented on #163
For future Reference. If you have the PGSERVICEFILE variable set you will get this error. After unsetting the variable it works as expected

[2020-08-25 06:31] Tommi2Day commented on #159
will take a look for alternatives

[2020-08-26 12:15] y0devv opened #170 "Grant usage on schema"
Hi,

It seems like the `GRANT USAGE ON SCHEMA schema_name TO role_name;` grant is currently not supported?
Are there any plans to add this?

[2020-09-01 16:58] fboula opened #172 "Postgres provider does not fix schema policies"
## Context

The PostgreSQL provider does not seems to catch configuration drift on schema policies.

For some tests I manually changed the policy of a schema created by the PostgreSQL provider and performed a `terraform plan` and it returned:

[code]

Using `terraform refresh` does not change the outcome.

### Terraform Version

[code]

### Affected Resource(s)

Please list the resources as a list

[2020-09-01 20:00] quixoticotech commented on #154
This would be incredibly helpful as this is the only step remaining that I need to be able to implement terraform with our postgresql instance.

[2020-09-04 08:25] tun0 commented on #110
Awesome! Do you plan to (continue to) work on 0.13 support?

[2020-09-07 08:27] benfdking commented on #110
@tun0 I don't think it's necessarily the fact that it doesn't work in terraform 0.13. In fact there is nothing that to me would indicate it shouldn't: I just couldn't get it setup correctly with the new provider definition, whereas in 0.12 I just placed it in the root folder of where it runs.

We are using it in production and have placed it [here](https://github.com/tumelohq/terraform-provider-po

[2020-09-09 09:10] tun0 commented on #110
After reading up a bit on the subject, it seems that as of 0.13 using custom provider got quite a bit more complex indeed. Being rather new to Terraform in general, I doubt I could make it work either :wink:

[2020-09-14 07:01] spko commented on #159
Hi, @Tommi2Day !
Thank you for the quick fix on this issue, would you when you would release it or when the next release would happen?

Cheers :)

[2020-09-14 18:13] Tommi2Day commented on #159
I am only one of the contributers. A new release will be done by @cyrilgdn

[2020-09-14 21:00] cyrilgdn commented on #159
Yes, sorry for the delay, I've been off for a while. I'll take a look as soon as possible.

[2020-09-16 06:40] spko commented on #159
Thank you both for the update guys!

Looking forward to using the new version 👍

[2020-09-16 23:20] hashibot[bot] opened #173 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 00:20] hashibot[bot] opened #174 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 01:20] hashibot[bot] opened #175 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 02:20] hashibot[bot] opened #176 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 03:20] hashibot[bot] opened #177 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 04:20] hashibot[bot] opened #178 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 05:20] hashibot[bot] opened #179 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 06:20] hashibot[bot] opened #180 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 07:20] hashibot[bot] opened #181 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 08:20] hashibot[bot] opened #182 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 09:20] hashibot[bot] opened #183 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 10:20] hashibot[bot] opened #184 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 11:20] hashibot[bot] opened #185 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 12:20] hashibot[bot] opened #186 "postgresql_role trying to revoke when it shouldn't, and failing"
_This issue was originally opened by @waynejnicklin as hashicorp/terraform#26257. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to add roles to the postgresql admin user that is created when the postgresql server is created in Azure.

The "plan" step

[2020-09-17 14:12] Forvaine opened #187 "Provider fails to connect if database ip drifts"
In my use-case, I have set up a module that sets up an aws_db_instance, then links a postgres provider to it to configure it for some roles and a configurable amount of `postgresql_database` instances. Once applied, everything runs fine, and running `terraform apply` afterwards behaves like expected: No changes detected.

However, we've created a snapshot of this instance once test-data has been i

[2020-09-17 15:45] Forvaine commented on #187
I'm still looking into this further and am currently checking if this is perhaps related to an ec2 network interface becoming stale due to the database being recreated without updating the network interface

[2020-09-18 07:58] Forvaine commented on #187
Yes, traced it down to the python call that creates the database not mapping it publically - I'd thought that it would copy over those settings from the snapshot, but it didn't. This is my mistake and the provider is behaving just like I'd originally thought/expected it to. The network interface remaining empty for a public IP combined with the timeout noting down a private ip is what lead me to i

[2020-09-18 07:58] #187 closed

[2020-09-20 16:07] #174 closed

[2020-09-20 16:07] #175 closed

[2020-09-20 16:07] #176 closed

[2020-09-20 16:07] #177 closed

[2020-09-20 16:07] #178 closed

[2020-09-20 16:07] #179 closed

[2020-09-20 16:07] #180 closed

[2020-09-20 16:07] #181 closed

[2020-09-20 16:07] #182 closed

[2020-09-20 16:07] #183 closed

[2020-09-20 16:07] #184 closed

[2020-09-20 16:07] #185 closed

[2020-09-20 16:07] #186 closed

[2020-09-21 18:05] jakubigla commented on #2
This still doesn't work for me (I'm on v1.7.1)
While the first plan and apply works, the subsequent one fails...

[2020-09-24 07:29] tcondeixa opened #188 "postgres_grant privileges always being created at planning"
Hi, I'm having problems with postgres_grant always planning changes.

### Terraform Version
0.12.26

### Postgresql provider version
both 1.6.0. and 1.7.0

### Postgres Database
both AWS RDS aurora 10.11 and RDS postgres 10.2

### Affected Resource(s)
- postgresql_grant

### Terraform Configuration Files
I'm using terraform modules, so it could be difficult to understand. However I included in the

[2020-09-24 13:35] Aluxima commented on #152
Specifying `expected_version` allows using the provider to deploy a postgresql resource once, then still getting `Error: could not start transaction: dial tcp :0: connect: connection refused` the following times.

Also using `terraform-aws-rds` output in the provider configuration.

Versions:
Terraform v0.13.2
+ provider registry.terraform.io/hashicorp/aws v3.7.0
+ provider registry.terraform.io/t

[2020-09-24 14:21] marianoogimenez commented on #172
I'm experimenting the same problem

[2020-09-30 17:27] qlikcoe commented on #2
We're experiencing the same issue when trying to create a PostgreSQL RDS using `terraform-aws-modules/rds/aws` module and then provisioning stuff with `PostgreSQL` provider. The first run is fine, the subsequent runs fail with `Error: dial tcp :5432: connect: connection refused`. I'm assuming the hostname is empty because of some racing conditions and reasons mentioned above in this thread.

The w

[2020-09-30 17:36] jakubigla commented on #2
@qlikcoe I think this issue is caused by some "module" internals. So the workaround I applied is below:
`//workaround for postgres provider
resource "null_resource" "test" {
  triggers = {
    host     = module.geodb_rds.this_db_instance_address
    port     = module.geodb_rds.this_db_instance_port
    username = module.geodb_rds.this_db_instance_username
    dbname   = module.geodb_rds.this_db_in

[2020-10-01 11:55] wimi commented on #168
@dmattia Isn't it already in place? [I think this is it](https://www.terraform.io/docs/providers/postgresql/r/postgresql_role.html#roles)

[2020-10-05 09:47] dixneuf19 commented on #39
Hi,

I had the same issue with Postgres on AWS RDS, with a silent fail. As of today I cannot use this resource :
- the parameter `superuser = true` on the `postgres` provider is required for it to functions properly (otherwise there is a silent error)
- You cannot user this param on AWS RDS since you cannot directly use the superuser. You have an [_superuser_ like user.](https://docs.aws.amazon.co

[2020-10-05 12:38] waynejnicklin commented on #173
Do you have some examples of how to use it, as the documentation doesn't seem to include this new "postgresql_grant_role" resource?

[2020-10-05 17:04] benfdking commented on #110
For use with terraform 0.13 and just generally easier use https://registry.terraform.io/providers/tumelohq/postgresql/latest

Note that the documentation isn't there yet, the best I can do is point to the example.

[2020-10-05 18:54] tun0 commented on #110
Awesomeness! Gonna take it for a spin when I find some spare minutes. The provided example should be enough to get started.

[2020-10-06 08:18] waynejnicklin commented on #173
When will this be merged and available to use? I tried it just now and get the error:
"The provider provider.postgresql does not support resource type "postgresql_grant_role"."

Thanks,
Wayne

[2020-10-06 15:03] tcondeixa commented on #152
I'm having the same problem after changing to terraform 0.13, maybe it's related with the changes on providers with new terraform version. The host of the provider is depending on the output from my RDS module with the respective DB endpoint, but I'm receiving `Error: dial tcp :5432: connect: connection refused`. I did a simple test on defining directly the endpoint string in the host instead of u

[2020-10-07 12:18] schmurfy commented on #81
I think I got hit by this or some variants, I added two `postgresql_grant` in my plan, when I apply it I have an infinite loop, I commented one it worked, I uncommented it, it goes back into hanging...

I tried `parallelism=3` and also increased the `max_connections`on my postgresql provider but it did not help, I have no idea how to fix this and already lost far too much time on it.

[2020-10-07 14:21] dnrce commented on #152
https://www.terraform.io/docs/configuration/providers.html#provider-configuration-1 says:

Does this mean this is impossible to do? Is requiring `host` in the provider initialization a flawed design?

[2020-10-07 15:22] tcondeixa commented on #152
I have been setting the host as the output from the RDS module with the trick of setting the expected_version to avoid problems during the init phase. This has been working fine for several months, but when I tried to upgrade to terraform 0.13 it is failing after the first apply.

[2020-10-07 20:37] bendrucker commented on #188
We've encountered this at @takescoop with RDS Postgres. I created the following isolated test and ran it against a local Postgres server to verify that there's no perpetual diff:

[code]

Launching a fresh RDS instance now to try to see if its immediately reproducible there.

[2020-10-07 21:26] bendrucker commented on #188
Hmm, definitely not reproducible on an RDS Postgres instance running PG 12. Debug logs, generated with `TF_LOG=debug` would be helpful here since the refresh behavior here is a little weird:

https://github.com/terraform-providers/terraform-provider-postgresql/blob/master/postgresql/resource_postgresql_grant.go#L313-L316

Namely, if the privileges returned don't match what the configuration has, t

[2020-10-07 21:33] bendrucker commented on #188
I found this:

[code]

Googling reminded me that's a PostGIS thing:

https://postgis.net/docs/using_postgis_dbmanagement.html#spatial_ref_sys

[2020-10-07 23:28] bendrucker commented on #188
Went to the live DB where we observed this. `\dt spatial_ref_sys` reveals the issue:

[code]

That doesn't seem to be entirely consistent with AWS's own PostGIS recommendations:

https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Appendix.PostgreSQL.CommonDBATasks.html#Appendix.PostgreSQL.CommonDBATasks.PostGIS.TransferOwnership

That calls for an ownership change to the `rds_superuser` role.

[2020-10-08 14:19] tcondeixa commented on #188
Thanks a lot, changing the table owner to **rds_superuser** solved the problem. The postgres provider using the master user it's now able to set the privileges for all tables in the public schema, so the plan is not showing changes every time anymore 🥇

[2020-10-08 14:56] jospint commented on #85
Hi @cyrilgdn
I am working in a project where we have the requirement of giving grants to roles for specific tables. I have noticed a pull request opened in July where @jmks has worked on making this possible ([here](https://github.com/terraform-providers/terraform-provider-postgresql/pull/156) ). Do you have an ETA on when could it be reviewed? And is there any way that I could help speed this up?

[2020-10-08 18:44] bendrucker commented on #188
Awesome! Per above:

This is because each table might have an entirely different set of permissions, so there's truly no way to represent the diff. I'm guessing there's some way to exclude tables the user can't access in the query I linked, but at least for now this can serve as a reference for anyone hitting this with RDS + PostGIS.

[2020-10-15 08:27] tcondeixa commented on #152
Is there any new regarding this topic? do you plan to look into this problem? I'm blocked to update to terraform 0.13 at the moment in all states using postgres provider, so it would be great to have some feedback. thanks a lot

[2020-10-16 13:17] waynejnicklin opened #193 "postgresql_role failing with Azure AD Group"
I'm trying to create a PostgreSQL role for an Azure AD Group using Terraform.

The error I get is:

Error: could not grant role azure_ad_user to EAM-GFP-DEV-AIQ-DB-READER: pq: An unexpected error occurred while trying to validate user.

The AD group exists, and I'm authenticating to PostgreSQL using the Azure DevOps service connection which is a member of the PostgreSQL AD Admin group.

The Terraf

[2020-10-21 00:54] miketwenty1 opened #194 "help with support for version terraform v0.13.x upgrade from v0.12.x"
Hi there,

I'm wondering if there is an issue with this terraform provider with the new version of 0.13.4
I'm unable to figure out how to upgrade/replace the old hashicorp provider that was used in v12.

error with `terraform init`
[code]

One thing to note is the `"following command"` is blank this seems like a bug.
It seems like the output is telling me to use this new provider from `hashicorp/p

[2020-10-22 10:29] mced commented on #140
@cyrilgdn Do you have any news on this or a workaround except commenting postgresql providers when importing a resource ?

[2020-10-22 16:36] tcondeixa commented on #152
I found a workaround for this problem, maybe it could be useful for others. One of the main changes of terraform 0.13 is that the host of the provider cannot depend on an output from a module anymore but it can depend on the attributes exported by resources. So I just created a data terraform type to get the address from the DB in RDS. I just forced the data resource to depend on some output from

[2020-10-27 13:10] SharpEdgeMarshall commented on #165
This is a big roadblock for us also because we can't revoke PUBLIC from connecting to the DB

[2020-10-27 15:43] miketwenty1 commented on #194
I'm not sure if something changed with the postgres provider. But it seems to just "work" now.
Another theory is.. my issue had to do with a cached `.terraform` folder in the repo and some weird backend issue.
ultimately the `terraform 0.13upgrade` did in indeed add the correct required provider info in version.tf .. if you're like me and still got errors try doing a `terraform state list` remove

[2020-10-28 01:39] kamil-rogon-dragon opened #196 "postgresql_grant does not revoke permission during resource deletion"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
- postgresql_grant

### Terraform Configuration Files
[code]

[code]

[2020-10-28 10:03] kamil-rogon-dragon opened #197 "postgresql_grant resource should allow empty list of privileges"
Hi there,
This is probably a feature request.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_grant

### Terraform Configuration Files
[code]

[2020-10-28 10:14] kamil-rogon-dragon opened #198 "Feature Request: allow to grant privileges for "TYPE" object"
Hi there,
This is a feature request.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- postgresql_grant

### Terraform Configuration Files
[code]

[2020-10-28 17:00] david-ecc commented on #197
Same problem here, i need to remove access to databases for all users ('REVOKE ALL ON DATABASE XXX FROM PUBLIC').

[2020-10-31 13:16] ademariag commented on #110
@benfdking is the intention to have a PR and merge into this provider?

[2020-11-01 13:20] benfdking commented on #110
Hey @ademariag

With the ever so slight bias of being part of the @tumelohq team that created it, I do think this solution is a nice step forward and it has given us oodles of flexibility which could benefit others, among them:
- it feels cloud agnostic
- we can test the setup locally against databases
- none of have a background really in database administration and so this feels more natural wit

[2020-11-01 14:14] ademariag commented on #110
@benfdking understood thank you for your response.

I think it's still worth creating a pull request and give an opportunity to the maintainers to weight in and decide whether they are ok with it or not 😊

[2020-11-11 08:30] #137 closed

[2020-11-11 08:32] #159 closed

[2020-11-11 08:42] #140 closed